<a href="https://colab.research.google.com/github/Gopikathi/Gopikathi/blob/main/Python_complete_material.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basics Data Types

1. Numerical
   * Integer
   * Floating
   * Complex
   
2.String

3.Boolean

In [ ]:
###int
### type of number
type(3)

int

In [ ]:
### assign a number and check type
a = 3
print(type(a))

<class 'int'>

In [ ]:
### float
### type of number
type(5.0)

float

In [ ]:
### assign a number and check type
a = 5.0
print(type(a))

<class 'float'>

In [ ]:
### complex number
### type of number
type(4+6j)

complex

In [ ]:
### assign a number and check type
a = 4+6j
print(type(a))

<class 'complex'>

In [ ]:
### string
### type of string
type('$%^&*')

str

In [ ]:
### assign a string and check type

e ='$%^&*'
print(type(e))

<class 'str'>

In [ ]:
### boolean
### type of boolean
False

False

In [ ]:
### assign a boolean and check type
type(True)

bool

<h2 id="types_objects" align="center">Types of objects in Python</h2>

<a align="center">
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/TypesObjects.png" width="600">
</a>

In [ ]:
# datatype of 12
type(12)

int

In [ ]:
# datatype of 2.14

In [ ]:
# Type of "Hello, Python 101!"

In [ ]:
# Print the datatype of -1

print(type(-1))

<class 'int'>

In [ ]:
# Print the datatype of boolean(0)

type(True)

bool

# Typecasting

<h3 id="convert">Converting from one object type to a different object type</h3>

Casting is when you convert a variable value from one type to another. 

That is, in Python, done with functions like int() or float() or str(). 

A pattern is that you convert a number as a string into a number.


Typecasting, or type conversion, is a method of changing an entity from one data type to another.

It is used in computer programming to ensure variables are correctly processed by a function. 

An example of typecasting is converting an integer to a string.

<h4>Converting integers to floats</h4>
<p>Let's cast integer 2 to float:</p>

In [ ]:
# Convert integer 2 to a float and check its type

float(2)

2.0

In [ ]:
# Casting 1.1 to integer will it result in any loss of information ?
int(1.9)

1

<h4>Converting from strings to integers or floats</h4>

<p>Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using <code>int()</code>:</p>

In [ ]:
# Convert a string into an integer
int('1')

1

In [ ]:
# convert a character into integer
int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [ ]:
# Convert a string into an integer
int('1 or 2')

ValueError: invalid literal for int() with base 10: '1 or 2'

In [ ]:
# Convert an integer to a string

In [ ]:
# Convert a string to a float

float('1.4')

1.4

In [ ]:
int(1.4)

1

<p>We can cast boolean objects to other data types. If we cast a boolean with a value of <code>True</code> to an integer or float we will get a one. If we cast a boolean with a value of <code>False</code> to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a <code>True</code>. And if we cast a 0 to a Boolean we will get a <code>False</code>. Let's give it a try:</p>

In [ ]:
# Convert True to int
# True -> 1
# False -> 0
int(False)

0

In [ ]:
# Convert 1 to boolean
bool(1)

True

In [ ]:
# Convert True to float
float(True)

1.0

<h1>String Operations</h1>

<h2 id="strings">What are Strings?</h2>

1. A string in Python is a sequence of characters defined in ' ',"  ",'"  '".


2. It is a derived data type. 


3. Strings are immutable.This means that once defined, they cannot be changed

The following example shows a string contained within 2 quotation marks:

In [ ]:
# Use quotation marks for defining string
"Michael Jackson"

'Michael Jackson'

In [ ]:
# Use single quotation marks for defining string
'Michael Jackson'

'Michael Jackson'

In [ ]:
# Print the string
print('hello')

hello

In [ ]:
# Assign string to variable
Name = 'Michael Jackson'

<h2 id="index">Indexing</h2>

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsIndex.png" width="600" align="center" />

In [ ]:
Name = "Michael Jackson"

In [ ]:
# Print the first element in the string
Name[9]

'a'

In [ ]:
# Print the element on index 6 in the string
Name[6]

'l'

In [ ]:
# Print the element on the 13th index in the string
Name[13]

'o'

In [ ]:
Name[6]

'l'

<h3 id="neg">Negative Indexing</h3>

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsNeg.png" width="600" align="center" />

Negative index can help us to count the element from the end of the string.

The last element is given by the index -1:

In [ ]:
# Print the last element in the string
print(Name[-1])

n

In [ ]:
print(Name[-8])

In [ ]:
# Print the first element in the string

print(Name[-15])

M

In [ ]:
# Find the length of string

len("Micheal Jackson")

15

<h3 id="slice">Slicing</h3>

We can obtain multiple characters from a string using slicing, we can obtain the 0 to 4th and 8th to the 12th element:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsSlice.png" width="600" align="center" />

In [ ]:
Name = "Virat Kohli"

In [ ]:
# Take the slice on variable Name with only index 0 to index 6

Name[0:7]

'Virat K'

In [ ]:
# Take the slice on variable Name with only index 8 to index 11

Name[8:25]

'hli'

<h3 id="stride">Stride</h3>

 We can also  input a stride value as follows, with the '2' indicating that we are selecting every second variable:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsStride.png" width="600" align="center" />

In [ ]:
Name = 'Michael Jackson'

In [ ]:
# Get every second element. The elments on index 1, 3, 5 ...

Name[1::2]

'ihe ako'

In [ ]:
# Get every second element in the range from index 0 to index 4

Name[0:5:2]

'Mca'

<h3 id="concat">Concatenate Strings</h3>

In [ ]:
# Concatenate strings

<h2 id="escape">Escape Sequences</h2>

Back slashes represent the beginning  of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line. The output is given by a new line after the back slash "n" is encountered:

In [ ]:
# New line escape sequence
print('Micheal jackson is \n the best dancer')

Micheal jackson is
 the best dancer

In [ ]:
# Tab escape sequence
print('Micheal jackson is \t the best dancer')

Micheal jackson is 	 the best dancer

In [ ]:
# Include back slash in string
print('Micheal jackson is \ the best dancer')

Micheal jackson is \ the best dancer

In [ ]:
# r will tell python that string will be display as raw string
print(r'Micheal jackson is \\\\\_= the best dancer')

Micheal jackson is \\\\\_= the best dancer

<h2 id="operations">String Operations</h2>

There are many string operation methods in Python that can be used to manipulate the data. We are going to use some basic string operations on the data.

Let's try with the method <code>upper</code>; this method converts lower case characters to upper case characters:

In [ ]:
# Convert all the characters in string to upper case

A = "India won Test Match in Centurian"
print("before Upper:",A)
B = A.lower()
print("After Upper:",B)

before Upper: India won Test Match in Centurian
After Upper: india won test match in centurian

The method <code>replace</code> replaces a segment of the string, i.e. a substring  with a new string. We input the part of the string we would like to change. The second argument is what we would like to exchange the segment with, and the result is a new string with the segment changed:

In [ ]:
# Replace the old substring with the new target substring is the segment has been found in the string
A = "India won Test Match in Centurian"
B = A.replace('won','winning')
B

'India winning Test Match in Centurian'

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsFind.png" width="600" align="center" />

In [ ]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output
Name = 'Michael Jackson'
Name.find('ck')

10

In [ ]:
# Find the substring in the string.

If the  sub-string is not in the string then the output is a negative one. For example, the string 'Jasdfasdasdf' is not a substring:

In [ ]:
# If cannot find the substring in the string
Name.find('jvuvuvu')

-1

# Escape Operator

\ is escape operatorhttps://ilab9798.insofe.com/user/4400b108/lab?#Escape-Operator

\n is next line operator

\t is tab operator

etc

In [ ]:
print("hello \t how are you")

hello 	 how are you

In [ ]:
1tab =  4 space

In [ ]:
print("hello how \t are you")

hello how 	 are you

In [ ]:
print("Hell0 how are you")

Hell0 how are you

In [ ]:
print("Hello How are you \n Arpit")

Hello How are you
 Arpit

In [ ]:
print("Hello How are you \t Arpit")

Hello How are you 	 Arpit

In [ ]:
print("Hello How are you \\ Arpit")

Hello How are you \ Arpit

# Membership Operators

1. in

2. not in

In [ ]:
50 in [1,2,3,4,5,6,7,8]

False

In [ ]:
5 in [2,3,4,5,6,7]

True

In [ ]:
5 not in [2,3,4,5,6]

False

In [ ]:
5 != [2,3,4,5,6]

True

# Boolean Operators

1. and

2. or

3. not

In [ ]:
1  1   1

1  0   0

0  1   0

0  0   0

In [ ]:
(7>6) and (6>4)

True

In [ ]:
1*1
0*1
1*0
0*0

In [ ]:
0  0   0
0  1   1
1  0   1
1  1   1

In [ ]:
(5>6) | (6<4)

False

In [ ]:
1+0
0+1
1+1
0+0

In [ ]:
not (7>6)

False

In [ ]:
#RELATIONAL OPERATOR

1. Equal ==

2. Not Equal !=

3. Less Than <

4. Greater than <

5. Less than or equal to <=

6. Greater than or equal to >=

1. Equal ==

In [ ]:
=

In [ ]:
==

In [ ]:
'a'=='a'

True

In [ ]:

5==5

True

In [ ]:

5==4

False

2. Not Equal !=

In [ ]:
5 !=5

False

In [ ]:
5!=6

True

3. Less Than <

In [ ]:
5<4

False

4.Greater than

In [ ]:
5>4

True

5. Less than or equal to

In [ ]:
5<= 5

True

6. Greater than or equal to

In [ ]:
5>=5

True

In [ ]:
a=2

# Arithmetic Operators

Arithmetic Operators 
1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Integer Division
6. To get Quotient
7. To get exponent of a number 
8. PEMDAS Rule 
9. Arithmetic operators on strings

## Arthmetic Operators on Numbers

In [ ]:
### Addition
15 + 46

61

In [ ]:
### subtraction
45 - 20 + 25

50

In [ ]:
### Both Addition and Subtraction 
45 - (23 + 20)

2

In [ ]:
### Multiplication
32 * 6

192

In [ ]:
### Division 2 types

In [ ]:
### Division example1

18 / 4

4.5

In [ ]:
### integer divison example1
18 //4

4

In [ ]:
### Division example2
23/11

2.090909090909091

In [ ]:
### Division example3
23//11

2

In [ ]:
### integer divison example2
45//12

3

In [ ]:
### integer divison example3
43.3//4

10.825

In [ ]:
### integer divison example4

In [ ]:
### integer divison example5

In [ ]:
### To get the reminder example1
55 % 3

1

In [ ]:
### To get the reminder example2
65 % 9

2

In [ ]:
### To get the reminder example3

In [ ]:
### To get the exponent example1
5 ** 3

125

In [ ]:
### To get the exponent example2
2 ** 10

1024

In [ ]:
### To get the exponent example3

In [ ]:
#PEMDAS: Parentheses, Exponents, Multiplication and Division (from left to right), Addition and Subtraction (from left to right).

12 + 13 * 4 -3

61

In [ ]:
#PEMDAS: Example2

54 - 21 ** 2 + (4*3)

-375

In [ ]:
54 - 441 + 12

-375

In [ ]:
54 + 12

66

In [ ]:
66 - 441

-375

## Exercises

In [ ]:
### Exercise1: Compute the sum of first 5 natural numbers
1+2+3+4+5

15

In [ ]:
### Exercise2: There are 45 persons working in an office. If the number of
### females is 25. How many Male employees are there ?

45 - 25

20

In [ ]:
### Exercise3: Anish and Anup play cricket.
### Anish made 42 runs in 6 overs and Anup made 63 runs in 7 overs. 
### Who made more runs per over?

print(42/6)
print(63/7)

7.0
9.0

In [ ]:
### Exercise4: If the cost of 6 cans of juice is 210, then what will be the cost
### of 4 cans of juice?

# 6x = 210
# 4y = ?

(210 * 4)/6

140.0

## Arthmetic Operators on Strings

In [ ]:
### Addition of 2 strings
'mango'+'juice'

'mango  juice'

In [ ]:
### Addition of 2 strings : The correct way !

In [ ]:
### Subtraction of 2 strings
'mangojuice' - 'juice'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
### Multiplication
'mango' * 3

'mangomangomango'

In [ ]:
### Excercise Get the remainder from the strings

In [ ]:
### Exercise5
### imagine there are 30 people infected with Covid-19 .
### Each person (unknowingly) met 3 people in day during a trip of 14 days. 
### How many total covid cases do you expect at the end of the trip
### Assume Covid sperad as geometric series
# Total infected people = initial number of people *(number of people met per day ** number of days) / (number of people met per day -1)
# Convert the result into millons (1 millon = 10**6)

(30 *(3 ** 14)/ (4 -1)) * 10**6

47829690000000.0

In [ ]:
from IPython.display import Image
Image(url= "images/geometric_series.jpg", width=500, height=200)

# List

# Alistis a data structure inPythonthat is a mutable, or changeable, ordered sequence of elements.

1. Each element or value that is inside of alistis called an item.


2. Alistis a data type that allows you to store various types data in it.


3. Just as strings are defined as characters between quotes,listsare defined by having values between square brackets [ ]


4. The list is a most versatile datatype available in Python which can be written as a list of comma-separated values (items) between square brackets

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsIndex.png" width="1000" />

A list is a sequenced collection of different objects such as integers, strings, and other lists as well. The address of each element within a list is called an index. An index is used to access and refer to items within a list.

# Create a List


Create a list by placing all the elements inside square bracket [], seperated by commas. List can have any number of elements (int, float, string etc.)

In [ ]:
# create a empty list
empty = [] 
empty

[]

We can use list() constructor to create a new list

In [ ]:
# create a list using list() constructor
data = list((23, 653, 574847, 3738782))
data

[23, 653, 574847, 3738782]

In [ ]:
# create a list of having integers
num_student = [12, 32, 15, 33] 
num_student

[12, 32, 15, 33]

In [ ]:
int_list = [5, 10, 15, 20, 25, 30]

int_list

[5, 10, 15, 20, 25, 30]

In [ ]:
# create a list of having Float numbers
float_list = [1.3, 2.4, 4.6, 7.4]

float_list

[1.3, 2.4, 4.6, 7.4]

In [ ]:
# create a list of having strings
string_list = ['Deb', 'Anand', 'Anita', 'Anu', 'Athira']

string_list

['Deb', 'Anand', 'Anita', 'Anu', 'Athira']

In [ ]:
# create a list of having mixed data types
mixed_list = [1, 3.4, 'Judy', False]

mixed_list

[1, 3.4, 'Judy', False]

# Nested list


A list with another list as an item. This is called nested list

In [ ]:
# create a nested list
nes_list = [['Age', 'Height', 'Weight'], [12, 4.5, 55]] 
nes_list

[['Age', 'Height', 'Weight'], [12, 4.5, 55]]

# Acessing Items/Elements

Use the index operator [] to access an element in a list. Indices starts from 0

# Accessing  one Item/Element in the List is called Indexing

![](list.png)

#### Positive Indexing

In [ ]:
# create a list of colors
color = ['Yellow', 'Orange', 'Blue', 'Red'] 
# access the second element from the list 
color[1]

'Orange'

In [ ]:
color[0]

'Yellow'

#### Negative Indexing

In [ ]:
color[-1]

'Red'

In [ ]:
color[-3]

'Orange'

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsNeg.png" width="1000" />

# check the length of List

In [ ]:
len(color)

4

In [ ]:
color[4]

IndexError: list index out of range

#### Negative Indexing


Negative indexing starts from the end, -1 refers to the last element

In [ ]:
# display the last element from the list
color[-1]

'Red'

# Accessing More than one Item/Element in the List is called Slicing/Range of Indexes


Specify a range of indexes

In [ ]:
color

['Yellow', 'Orange', 'Blue', 'Red']

In [ ]:
# display the second, third, and fourth element
color[1:4]

['Orange', 'Blue', 'Red']

In [ ]:
# display the elements from the start to "Blue"
color[:3]

['Yellow', 'Orange', 'Blue']

In [ ]:
# display the elements from "Orange" to end
color[1:]

['Orange', 'Blue', 'Red']

#### Note: It will start at index 1 (included) and end at index 4 (not included)

Range of Negative Indexes

In [ ]:
# display the elements from index -3(included) to index -1(not included)
color[-3:-1]

['Orange', 'Blue']

In [ ]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsSlice.png" width="1000">

In [ ]:
L[:]

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
L[0:]

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
L[0:5]

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
L[2:5]

[1982, 'MJ', 1]

# Accessing Item/Element in list at different index positions is called stride

In [ ]:
color

['Yellow', 'Orange', 'Blue', 'Red']

In [ ]:
color[::2]

['Yellow', 'Blue']

In [ ]:
color[1:3:2]

['Orange']

# Mutable Operation in list: Changing the value of list

# As lists are mutable, we can change them. For example, we can change the first element as follows:

In [ ]:
color

['Yellow', 'Orange', 'Blue', 'Red']

In [ ]:
# change the value of second element
color[1] = 'Black' 
color

['Yellow', 'Black', 'Blue', 'Red']

In [ ]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[1] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['disco', 'hard rock', 1.2]

# Adding Item/Element in list: We can use the method to add new elements to the list:

1. append

2. extend

3. insert

# Append Method

#### List modifications

In [ ]:
L = ["Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [ ]:
L = ["Michael Jackson", 10.2]
L.append(5)
L

['Michael Jackson', 10.2, 5]

# Extend Method

In [ ]:
# Use extend to add elements to list

L = ["Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [ ]:
# Use extend to add elements to list

L = ["Michael Jackson", 10.2]
L.extend([5,6])
L

['Michael Jackson', 10.2, 5, 6]

In [ ]:
#create a list
food = ['Rice', 'Panner', 'Chicken']
# add the elements to the list
food.extend('Roti')
food

['Rice', 'Panner', 'Chicken', 'R', 'o', 't', 'i']

# Addition of Element at specific Position (using Insert Method)

In [ ]:
#Creating a List 
List = [1,2,3,4] 
print("Initial List: ") 
print(List) 
  
# Addition of Element at specific Position (using Insert Method) 
List.insert(3, 12) 
List.insert(0, 'Geeks') 
print("\nList after performing Insert Operation: ") 
print(List)

Initial List:
[1, 2, 3, 4]

List after performing Insert Operation:
['Geeks', 1, 2, 3, 12, 4]

In [ ]:
# create a list
food = ['Rice', 'Panner', 'Chicken']
# add element at index 1
food.insert(1, 'Roti')
food

['Rice', 'Roti', 'Panner', 'Chicken']

# Checking Index number of element in the List

In [ ]:
# create a list
food = ['Rice', 'Panner', 'Chicken']
# dislay the index number
food.index('Panner')

1

In [ ]:
L

['Michael Jackson', 10.2, 5, 6]

In [ ]:
L.index("Michael Jackson")

0

# checking particular element present inside the List

In [ ]:
L

['Michael Jackson', 10.2, 5, 6]

In [ ]:
5 in L

True

# Removing Elements from the List

Using remove() method

Elements can be removed from the List by using built-in remove() function but an Error arises if element doesnt exist in the set. Remove() method only removes one element at a time, to remove range of elements, iterator is used. The remove() method removes the specified item.

Note  Remove method in List will only remove the first occurrence of the searched element

In [ ]:
# create a list
food = ['Rice', 'Panner', 'Chicken']
# remove 'Rice' element
food.remove('Rice')
food

['Panner', 'Chicken']

In [ ]:
# Python program to demonstrate  
# Removal of elements in a List 
  
# Creating a List 
List = [1, 2, 3, 4, 5, 6,7, 8, 9, 10, 11, 12] 
print("Intial List: ") 
print(List) 
  
# Removing elements from List 
# using Remove() method 
List.remove(5) 
List.remove(6) 
print("\nList after Removal of two elements: ") 
print(List)

Intial List:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

List after Removal of two elements:
[1, 2, 3, 4, 7, 8, 9, 10, 11, 12]

# Using pop() method

Pop() function can also be used to remove and return an element from the set, but by default it removes only the last element of the set, to remove element from a specific position of the List, index of the element is passed as an argument to the pop() method

In [ ]:
List = [1,2,3,4,5] 
  
# Removing element from the  
# Set using the pop() method 
List.pop() 
print("\nList after popping an element: ") 
print(List)

List after popping an element:
[1, 2, 3, 4]

In [ ]:
List = [1,2,3,4,5] 
  
# Removing element from the  
# Set using the pop() method 
List.pop() 
print("\nList after popping an element: ") 
print(List) 
  
# Removing element at a  
# specific location from the  
# Set using the pop() method 
List.pop(2) 
print("\nList after popping a specific element: ") 
print(List)

List after popping an element:
[1, 2, 3, 4]

List after popping a specific element:
[1, 2, 4]

# Clear Method()

In [ ]:
# create a list
food = ['Rice', 'Panner', 'Chicken']
# remove all the elements from the list
food.clear()
food

[]

# We can also delete an element of a list using the del command:

In [ ]:
# Delete the element based on the index
A=['disco','hard rock',1.2]
print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['disco', 'hard rock', 1.2]
After change: ['hard rock', 1.2]

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000];
print (list1)
del list1[2]
print ("After deleting value at index 2 : ")
print (list1)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

# Count Method:

In [ ]:
# create a list
product = ['Chips', 'Biscuits', 'Drinks', 'Numkeen', 'Chips', 'Biscuits', 'Chips']
# get the count of "Chips"
product.count('Chips')

3

# Reverse Method

In [ ]:
# create a list
food = ['Rice', 'Panner', 'Chicken']
# reverse the order of elements from the list
food.reverse()
food

['Chicken', 'Panner', 'Rice']

# Sort Method

In [ ]:
# create a list
alph = ['R', 'A', 'C', 'K']
# sort the elements
alph.sort()
alph

['A', 'C', 'K', 'R']

In [ ]:
# create a list
num = [1, 4, 5, 7, 3]
# sort the numeric elements
num.sort()
num

[1, 3, 4, 5, 7]

# copy() method

In [ ]:
# create a list
food = ['Rice', 'Panner', 'Chicken']
# create a copy of list
food.copy()

['Rice', 'Panner', 'Chicken']

In [ ]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [ ]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [ ]:
students = ['Deb', 'Judy', 'Yukti', 'Nisarg']

In [ ]:
students[0]

'Deb'

In [ ]:
students[1]

'Judy'

In [ ]:
students[3]

'Nisarg'

In [ ]:
students[4]

IndexError: list index out of range

#### List operations

In [ ]:
len(students)

4

In [ ]:
students

['Deb', 'Judy', 'Yukti', 'Nisarg']

In [ ]:
students[3] = 'Surbhi'

students

['Deb', 'Judy', 'Yukti', 'Surbhi']

In [ ]:
students[2] = 'Moumita'

students

['Deb', 'Judy', 'Moumita', 'Surbhi']

In [ ]:
students.append('Anuradha')

students

['Deb', 'Judy', 'Moumita', 'Surbhi', 'Anuradha']

In [ ]:
students.append('Ubaid')

students

['Deb', 'Judy', 'Moumita', 'Surbhi', 'Anuradha', 'Ubaid']

In [ ]:
len(students)

6

In [ ]:
students.insert(0, 'Anisha')

students

['Anisha', 'Deb', 'Judy', 'Moumita', 'Surbhi', 'Anuradha', 'Ubaid']

In [ ]:
students.insert(1, 'Bansi')

students

['Anisha', 'Bansi', 'Deb', 'Judy', 'Moumita', 'Surbhi', 'Anuradha', 'Ubaid']

In [ ]:
other_students = ['Eshaan', 'Pranoti', 'Priya']

other_students

['Eshaan', 'Pranoti', 'Priya']

In [ ]:
all_students = students + other_students

all_students

['Anisha',
 'Bansi',
 'Deb',
 'Judy',
 'Moumita',
 'Surbhi',
 'Anuradha',
 'Ubaid',
 'Eshaan',
 'Pranoti',
 'Priya']

In [ ]:
students.extend(['Elroy', 'Neil'])

students

['Anisha',
 'Bansi',
 'Deb',
 'Judy',
 'Moumita',
 'Surbhi',
 'Anuradha',
 'Ubaid',
 'Elroy',
 'Neil']

In [ ]:
students += ['Kishan', 'Dhwani']

students

['Anisha',
 'Bansi',
 'Deb',
 'Judy',
 'Moumita',
 'Surbhi',
 'Anuradha',
 'Ubaid',
 'Elroy',
 'Neil',
 'Kishan',
 'Dhwani']

In [ ]:
students.index('Judy')

3

In [ ]:
element_index = students.index('kishan')

element_index

ValueError: 'kishan' is not in list

In [ ]:
element_index = students.index('Kishan')

element_index

10

In [ ]:
students.remove('Kishan')

students

['Anisha',
 'Bansi',
 'Deb',
 'Judy',
 'Moumita',
 'Surbhi',
 'Anuradha',
 'Ubaid',
 'Elroy',
 'Neil',
 'Dhwani']

In [ ]:
students.remove('Deb')

students

['Anisha',
 'Bansi',
 'Judy',
 'Moumita',
 'Surbhi',
 'Anuradha',
 'Ubaid',
 'Elroy',
 'Neil',
 'Dhwani']

In [ ]:
students.sort()

students

['Anisha',
 'Anuradha',
 'Bansi',
 'Dhwani',
 'Elroy',
 'Judy',
 'Moumita',
 'Neil',
 'Surbhi',
 'Ubaid']

In [ ]:
students.reverse()

students

['Ubaid',
 'Surbhi',
 'Neil',
 'Moumita',
 'Judy',
 'Elroy',
 'Dhwani',
 'Bansi',
 'Anuradha',
 'Anisha']

In [ ]:
students.pop()

students

['Ubaid',
 'Surbhi',
 'Neil',
 'Moumita',
 'Judy',
 'Elroy',
 'Dhwani',
 'Bansi',
 'Anuradha']

In [ ]:
students.pop()

students

['Ubaid', 'Surbhi', 'Neil', 'Moumita', 'Judy', 'Elroy', 'Dhwani', 'Bansi']

#### List indices

In [ ]:
students

['Ubaid', 'Surbhi', 'Neil', 'Moumita', 'Judy', 'Elroy', 'Dhwani', 'Bansi']

In [ ]:
students[-1]

'Bansi'

In [ ]:
students[-2]

'Dhwani'

#### Slicing lists

In [ ]:
students

['Ubaid', 'Surbhi', 'Neil', 'Moumita', 'Judy', 'Elroy', 'Dhwani', 'Bansi']

In [ ]:
students[0:2]

['Ubaid', 'Surbhi']

In [ ]:
students[0:4]

['Ubaid', 'Surbhi', 'Neil', 'Moumita']

In [ ]:
students[3:7]

['Moumita', 'Judy', 'Elroy', 'Dhwani']

In [ ]:
students[:3]

['Ubaid', 'Surbhi', 'Neil']

In [ ]:
students[3:]

['Moumita', 'Judy', 'Elroy', 'Dhwani', 'Bansi']

In [ ]:
students[:-2]

['Ubaid', 'Surbhi', 'Neil', 'Moumita', 'Judy', 'Elroy']

In [ ]:
students[:-4]

['Ubaid', 'Surbhi', 'Neil', 'Moumita']

In [ ]:
students[1:-2]

['Surbhi', 'Neil', 'Moumita', 'Judy', 'Elroy']

In [ ]:
students[-4:-2]

['Judy', 'Elroy']

In [ ]:
students[1:3] = ['Akshar', 'Amit']

students

['Ubaid', 'Akshar', 'Amit', 'Moumita', 'Judy', 'Elroy', 'Dhwani', 'Bansi']

#### Nested lists

In [ ]:
matrix = [[10, 20, 30], [100, 200, 300]]

matrix

[[10, 20, 30], [100, 200, 300]]

In [ ]:
matrix[0][0]

10

In [ ]:
matrix[0][1]

20

In [ ]:
matrix[0][2]

30

In [ ]:
matrix[1][0]

100

In [ ]:
len(matrix)

2

In [ ]:
len(matrix[0])

3

#### List copies

In [ ]:
students_copy = students

In [ ]:
students_copy

['Ubaid', 'Akshar', 'Amit', 'Moumita', 'Judy', 'Elroy', 'Dhwani', 'Bansi']

In [ ]:
students.remove('Ubaid')

In [ ]:
students_copy

['Akshar', 'Amit', 'Moumita', 'Judy', 'Elroy', 'Dhwani', 'Bansi']

In [ ]:
students_copy.remove('Surbhi')

ValueError: list.remove(x): x not in list

In [ ]:
students

['Akshar', 'Amit', 'Moumita', 'Judy', 'Elroy', 'Dhwani', 'Bansi']

#### Built-in functions with list

In [ ]:
int_list

[5, 10, 15, 20, 25, 30]

In [ ]:
len(int_list)

6

In [ ]:
max(int_list)

30

In [ ]:
min(int_list)

5

In [ ]:
sum(int_list)

105

In [ ]:
int_list.extend([3, 9, 2, 1])

int_list

[5, 10, 15, 20, 25, 30, 3, 9, 2, 1]

In [ ]:
sorted_list = sorted(int_list)

In [ ]:
sorted_list

[1, 2, 3, 5, 9, 10, 15, 20, 25, 30]

In [ ]:
int_list

[5, 10, 15, 20, 25, 30, 3, 9, 2, 1]

In [ ]:
int_list.sort()

int_list

[1, 2, 3, 5, 9, 10, 15, 20, 25, 30]

# Tuples

1. A tuple is a collection of objects which are ordered and immutable. 


2. Tuples are sequences, just like lists. 


3. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets

In Python, there are different data types: string, integer and float. These data types can all be contained in a tuple as follows:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesType.png" width="750" align="center" />

Create a tuple by placing all the elements inside round bracket

In [ ]:
# create a String tuple
names = ('Raj', 'John', 'Sita', 'Kia') 
names

('Raj', 'John', 'Sita', 'Kia')

In [ ]:
# create a int tuple
tup_int = (2,3,4,5,6,7) 
tup_int

(2, 3, 4, 5, 6, 7)

In [ ]:
# create a float tuple
tup_float = (2.2,3.7,4.7,5.2,6.2,7.5) 
tup_float

(2.2, 3.7, 4.7, 5.2, 6.2, 7.5)

In [ ]:
# create a Mix tuple
tup_mix = (2,3.5,"raj",'a') 
tup_mix

(2, 3.5, 'raj', 'a')

tuple() constructor

In [ ]:
# create a tuple using tuple() constructor
names = tuple(('Raj', 'John', 'Sita', 'Kia'))
names

('Raj', 'John', 'Sita', 'Kia')

# Acess Tuple Elements


Refer index number inside the square bracket to access the elements

In [ ]:
names

('Raj', 'John', 'Sita', 'Kia')

### Accessing one Item/ Element from tuple is Indexing

Each element of a tuple can be accessed via an index. The following table represents the relationship between the index and the items in the tuple. Each element can be obtained by the name of the tuple followed by a square bracket with the index number:

In [ ]:
L=("disco",10,1.2)
L

('disco', 10, 1.2)

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesIndex.gif" width="750" align="center">

#### Positive Indexing

In [ ]:
names

('Raj', 'John', 'Sita', 'Kia')

In [ ]:
# display the third element from the tuple
names[2]

'Sita'

#### Negative Indexing

In [ ]:
L=("disco",10,1.2 )
L

('disco', 10, 1.2)

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesNeg.png" width="750" align="center">

In [ ]:
names

('Raj', 'John', 'Sita', 'Kia')

In [ ]:
names[-2]

'Sita'

### Accessing two Item/Element from Tuple is slicing

In [ ]:
tuple2 = ("disco",10,1.2,"hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [ ]:
tuple2[0:3]

('disco', 10, 1.2)

In [ ]:
tuple2[3:5]

('hard rock', 10)

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesSlice.gif" width="750" align="center">

In [ ]:
names

('Raj', 'John', 'Sita', 'Kia')

In [ ]:
names[0:2]

('Raj', 'John')

In [ ]:
names[:]

('Raj', 'John', 'Sita', 'Kia')

In [ ]:
names[-3:-1]

('John', 'Sita')

# Acceessing Item/Element in tuple at different position is Stride

In [ ]:
names[::]

('Raj', 'John', 'Sita', 'Kia')

In [ ]:
names[::2]

('Raj', 'Sita')

In [ ]:
names[1::2]

('John', 'Kia')

# Length of Tuple

In [ ]:
tuple2 = ("disco",10,1.2,"hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [ ]:
len(tuple2)

5

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesElement.png" width="750" align="center">

# Nested Tuple

In [ ]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesNestOne.png" width="750" align="center">

In [ ]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesNestTwo.png" width="750" align="center">

In [ ]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesNestFour.gif" width="750" align="center">

In [ ]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

In [ ]:
# Print the second element in the second nested tuples

NestedT[2][1][1]

'o'

# Tuple is Immutable: We can not Change Tuple Value


We can not change values of the tuples. Tuples are immutable or unchangeable

Convert tuple into list to change its values

In [ ]:
# create a tuple
names = ('Raj', 'John', 'Sita', 'Kia')
names

('Raj', 'John', 'Sita', 'Kia')

In [ ]:
names[0]

'Raj'

In [ ]:
names[0]='Rahul'

TypeError: 'tuple' object does not support item assignment

In [ ]:
names

('Raj', 'John', 'Sita', 'Kia')

# Add Items: We cannot add values into tuples. Tuples are unchangeable

# Remove Elements: We cannot remove elements from the tuple, but we can delete the tuple completely

In [ ]:
# create a tuple
words = ('this', 'that', 'is', 'there') 
words

('this', 'that', 'is', 'there')

In [ ]:
# delete tuple
del words 
words

NameError: name 'words' is not defined

# Concatenate Two Tuples

In [ ]:
# create a first tuple
age_less_20 =(12, 14, 15)
# create a second tuple
age_greater_20 = (26, 25, 24)

In [ ]:
# join two tuples
age = age_less_20 + age_greater_20 
age

(12, 14, 15, 26, 25, 24)

# count():To get the count of particular element present in the list

In [ ]:
new=(2,3,4,5,6,2)
new.count(2)

2

# index():To get the index of the particular element

In [ ]:
new=(2,3,4,5,6,2)
new.index(5)

3

# Sorting

In [ ]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
h=sorted(Ratings)
h

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [ ]:
fg=("d","a","c","z","p")
gh=sorted(fg)
gh

['a', 'c', 'd', 'p', 'z']

#### Unpacking a tuple

In [ ]:
my_tuple = ('Kishore', 90)

my_tuple

('Kishore', 90)

In [ ]:
name, score = my_tuple

In [ ]:
name

'Kishore'

In [ ]:
score

90

In [ ]:
tuple_with_many_fields = (1, 'Nimisha', 'Venkat', 'Matthew', 45)

In [ ]:
unique_id, girl_name, boy_name, _, _ = tuple_with_many_fields

In [ ]:
unique_id, girl_name, boy_name

(1, 'Nimisha', 'Venkat')

#### Operations on a tuple

In [ ]:
number_tuple = (2, 4, 7, 5, 9, 1, 10)

In [ ]:
len(number_tuple)

7

In [ ]:
max(number_tuple)

10

In [ ]:
sum(number_tuple)

38

In [ ]:
some_list = ['A', 'B', 'C']

some_tuple = tuple(some_list)

In [ ]:
some_tuple = tuple(some_list)

In [ ]:
some_tuple

('A', 'B', 'C')

<h2 id="Dic">Dictionaries</h2>

<h3 id="content">What are Dictionaries?</h3>

Dictionaries are another example of a data structure. A dictionary is used to map or associate things you want to store the keys you need to get them. A dictionary in Python is just like a dictionary in the real world. Python Dictionary are defined into two elements Keys and Values. Keys will be a single element

1.  A dictionary consists of keys and values. 

2.  It is helpful to compare a dictionary to a list. 

3.  Instead of the numerical indexes such as a list, dictionaries have keys.

4.  These keys are the keys that are used to access values within a dictionary.

5.  Any key of the dictionary is associated (or mapped) to a value. 

6.  The values of a dictionary can be any Python data type. 

7.  So dictionaries are unordered key-value-pairs. 

8.  Dictionaries belong to the built-in mapping type

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/DictsList.png" width="650" />

In [ ]:
# Creating an empty Dictionary 
Dict = {} 
print("Empty Dictionary: ") 
print(Dict)

Empty Dictionary:
{}

An example of a Dictionary <code>Dict</code>:

In [ ]:
# Create the dictionary An example of a Dictionary

Dict = { "key2": "2", "key3": [3, 3, 3],"key1": 1, "keyi:4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{(0, 1): 6,
 'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key5': 5,
 'keyi:4': (4, 4, 4)}

The keys can be strings:

In [ ]:
# Access to the value by the key

Dict["key1"]

1

Keys can also be any immutable object such as a tuple:

In [ ]:
# Access to the value by the key

Dict[(0, 1)]

6

In [ ]:
# Creating an empty Dictionary 
Dict = {} 
print("Empty Dictionary: ") 
print(Dict) 
  
# Creating a Dictionary 
# with dict() method 
Dict = dict({1: 'Geeks', 2: 'For', 3:'Geeks'}) 
print("\nDictionary with the use of dict(): ") 
print(Dict) 
  
# Creating a Dictionary 
# with each item as a Pair 
Dict = dict([(1, 'Geeks'), (2, 'For')]) 
print("\nDictionary with each item as a pair: ") 
print(Dict)

Empty Dictionary:
{}

Dictionary with the use of dict():
{1: 'Geeks', 2: 'For', 3: 'Geeks'}

Dictionary with each item as a pair:
{1: 'Geeks', 2: 'For'}

In [ ]:
# Creating a Nested Dictionary  
# as shown in the below image 
Dict = {1: 'Geeks', 2: 'For',  
        3:{'A' : 'Welcome', 'B' : 'To', 'C' : 'Geeks'}} 
  
print(Dict)

{1: 'Geeks', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

# Adding Element in Dictionary

In [ ]:
# Creating an empty Dictionary 
Dict = {} 
print("Empty Dictionary: ") 
print(Dict) 
  
# Adding elements one at a time 
Dict[0] = 'Geeks'
Dict[2] = 'For'
Dict[3] = 1
Dict['a']=6
print("\nDictionary after adding 3 elements: ") 
print(Dict)

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1, 'a': 6}

# Dictionary is Mutable

In [ ]:
Dict

{0: 'Geeks', 2: 'For', 3: 1, 'a': 6}

In [ ]:
# Adding set of values  
# to a single Key 
Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ") 
print(Dict)

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1, 'a': 6, 'Value_set': (2, 3, 4)}

In [ ]:
# Updating existing Key's Value 
Dict[2] = 'Welcome'
print("\nUpdated key value: ") 
print(Dict)

Updated key value:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'a': 6, 'Value_set': (2, 3, 4)}

In [ ]:
# Adding Nested Key value to Dictionary 
Dict[5] = {'Nested' :{'1' : 'Life', '2' : 'Geeks'}} 
print("\nAdding a Nested Key: ") 
print(Dict)

Adding a Nested Key:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'a': 6, 'Value_set': (2, 3, 4), 5: {'Nested': {'1': 'Life', '2': 'Geeks'}}}

# Accessing element in dictionary

In [ ]:
# create and print dictionary
stud = { 'Jay': 14,
 'Raj': 20,
 'Maya': 15 }
print(stud)

{'Jay': 14, 'Raj': 20, 'Maya': 15}

In [ ]:
# get the age of Raj
x = stud["Raj"]
x

20

# We can also use get() method to access the elements

In [ ]:
# create and print dictionary
stud = { 'Jay': 14,
 'Raj': 20,
 'Maya': 15 }
x = stud.get("Raj")
x

20

In [ ]:
# Creating a Dictionary  
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'} 
  
# accessing a element using get() 
# method 
print("Accessing a element using get:") 
print(Dict.get(3))

Accessing a element using get:
Geeks

In [ ]:
# Python program to demonstrate   
# accessing a element from a Dictionary  
  
# Creating a Dictionary  
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'} 
  
# accessing a element using key 
print("Accessing a element using key:") 
print(Dict['name']) 
  
# accessing a element using key 
print("Accessing a element using key:") 
print(Dict[1])

Accessing a element using key:
For
Accessing a element using key:
Geeks

# Change the value

In [ ]:
# change the value
# create and print dictionary
stud = { 'Jay': 14,
 'Raj': 20,
 'Maya': 15 }
print(stud)
stud["Jay"] = 18
print(stud)

{'Jay': 14, 'Raj': 20, 'Maya': 15}
{'Jay': 18, 'Raj': 20, 'Maya': 15}

# Add Elements

In [ ]:
# add new element
# change the value
# create and print dictionary
stud = { 'Jay': 14,
 'Raj': 20,
 'Maya': 15 }
print(stud)
stud['Kiran'] = 19
print(stud)

{'Jay': 14, 'Raj': 20, 'Maya': 15}
{'Jay': 14, 'Raj': 20, 'Maya': 15, 'Kiran': 19}

# clear() method

In [ ]:
# remove all the elements from stud
# change the value
# create and print dictionary
stud = { 'Jay': 14,
 'Raj': 20,
 'Maya': 15 }
stud.clear()
stud

{}

# copy() method

In [ ]:
# create a dictionary
emp = {'101': 'John',
 '102': 'Olivia',
 '103': 'Sophia'
 }
emp

{'101': 'John', '102': 'Olivia', '103': 'Sophia'}

In [ ]:
# create a copy of dictionary
emp_copy = emp.copy()
emp_copy

{'101': 'John', '102': 'Olivia', '103': 'Sophia'}

# fromkeys() method

It returns a dictionary with the specified keys and the specified value

In [ ]:
# create a tuple
x = ('John', 'Olivia', 'Sophia')
# create a numeric variable
y = 1300
fees = dict.fromkeys(x, y)
print(fees)

{'John': 1300, 'Olivia': 1300, 'Sophia': 1300}

# items() method

In [ ]:
fees.items()

dict_items([('John', 1300), ('Olivia', 1300), ('Sophia', 1300)])

# keys() method

In [ ]:
fees.keys()

dict_keys(['John', 'Olivia', 'Sophia'])

In [ ]:
fees

{'John': 1300, 'Olivia': 1300, 'Sophia': 1300}

# pop() method

In [ ]:
# remove element from the dictionary
fees.pop('John')

1300

In [ ]:
fees

{'Olivia': 1300, 'Sophia': 1300}

# popitem() method

In [ ]:
# remove last inserted key-value pair
fees.popitem()

('Sophia', 1300)

In [ ]:
fees

{'Olivia': 1300}

# update() method

In [ ]:
# create a dictionary
emp = {'101': 'John',
 '102': 'Olivia',
 '103': 'Sophia'
 }
emp
# insert element
emp.update({104: "Sara"})
print(emp)

{'101': 'John', '102': 'Olivia', '103': 'Sophia', 104: 'Sara'}

# values() method

In [ ]:
# get the values
emp.values()

dict_values(['John', 'Olivia', 'Sophia', 'Sara'])

# Accessing element of a nested dictionary
In order to access the value of any key in nested dictionary, use indexing [] syntax.

In [ ]:
# Creating a Dictionary 
Dict = {'Dict1': {1: 'Geeks'}, 
        'Dict2': {'Name': 'For'}} 
  
# Accessing element using key 
print(Dict['Dict1']) 
print(Dict['Dict1'][1]) 
print(Dict['Dict2']['Name'])

{1: 'Geeks'}
Geeks
For

# Removing Elements from Dictionary

# Using del keyword
In Python Dictionary, deletion of keys can be done by using the del keyword. Using del keyword, specific values from a dictionary as well as whole dictionary can be deleted. Items in a Nested dictionary can also be deleted by using del keyword and providing specific nested key and particular key to be deleted from that nested Dictionary.

Note- del Dict will delete the entire dictionary and hence printing it after deletion will raise an Error.

In [ ]:

# Initial Dictionary 
Dict = { 5 : 'Welcome', 6 : 'To', 7 : 'Geeks', 
        'A' : {1 : 'Geeks', 2 : 'For', 3 : 'Geeks'}, 
        'B' : {1 : 'Geeks', 2 : 'Life'}} 
print("Initial Dictionary: ") 
print(Dict) 
  
# Deleting a Key value 
del Dict[6] 
print("\nDeleting a specific key: ") 
print(Dict) 
  
# Deleting a Key from 
# Nested Dictionary 
del Dict['A'][2] 
print("\nDeleting a key from Nested Dictionary: ") 
print(Dict)

Initial Dictionary:
{5: 'Welcome', 6: 'To', 7: 'Geeks', 'A': {1: 'Geeks', 2: 'For', 3: 'Geeks'}, 'B': {1: 'Geeks', 2: 'Life'}}

Deleting a specific key:
{5: 'Welcome', 7: 'Geeks', 'A': {1: 'Geeks', 2: 'For', 3: 'Geeks'}, 'B': {1: 'Geeks', 2: 'Life'}}

Deleting a key from Nested Dictionary:
{5: 'Welcome', 7: 'Geeks', 'A': {1: 'Geeks', 3: 'Geeks'}, 'B': {1: 'Geeks', 2: 'Life'}}

# Using pop() method
Pop() method is used to return and delete the value of the key specified.

In [ ]:
# Creating a Dictionary 
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'} 
  
# Deleting a key  
# using pop() method 
pop_ele = Dict.pop(1) 
print('\nDictionary after deletion: ' + str(Dict)) 
print('Value associated to poped key is: ' + str(pop_ele))

Dictionary after deletion: {'name': 'For', 3: 'Geeks'}
Value associated to poped key is: Geeks

# Using clear() method
All the items from a dictionary can be deleted at once by using clear() method.

In [ ]:
# Creating a Dictionary 
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'} 
  
  
# Deleting entire Dictionary 
Dict.clear() 
print("\nDeleting Entire Dictionary: ") 
print(Dict)

Deleting Entire Dictionary:
{}

# Dictionary of Movie and Year of Release

 Each key is separated from its value by a colon "<code>:</code>".  Commas separate the items, and the whole dictionary is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this  "<code>{}</code>".

In [ ]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In summary, like a list, a dictionary holds a sequence of elements. Each element is represented by a key and its corresponding value. Dictionaries are created with two curly braces containing keys and values separated by a colon. For every key, there can only be one single value, however,  multiple keys can hold the same value. Keys can only be strings, numbers, or tuples, but values can be any data type.

It is helpful to visualize the dictionary as a table, as in the following image. The first column represents the keys, the second column represents the values.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/DictsStructure.png" width="650" />

<h3 id="key">Keys</h3>

You can retrieve the values based on the names:

In [ ]:
# Get value by keys

release_year_dict['Thriller']

'1982'

This corresponds to:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/DictsKeyOne.png" width="500" />

Similarly for <b>The Bodyguard</b>

In [ ]:
# Get value by key

release_year_dict['The Bodyguard']

'1992'

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/DictsKeyTwo.png" width="500" />

Now let you retrieve the keys of the dictionary using the method <code>release_year_dict()</code>:

In [ ]:
# Get all the keys in dictionary

release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

You can retrieve the values using the method  <code>values()</code>:

In [ ]:
# Get all the values in dictionary

release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

We can add an entry:

In [ ]:
# Append value with key into dictionary

release_year_dict['Graduation'] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

We can delete an entry:

In [ ]:
# Delete entries by key

del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

 We can verify if an element is in the dictionary:

In [ ]:
# Verify the key is in the dictionary

'The Bodyguard' in release_year_dict

True

In [ ]:
"1977" in release_year_dict

False

<hr>

<h2 id="quiz">Quiz on Dictionaries</h2>

<b>You will need this dictionary for the next two questions:</b>

In [ ]:
# Question sample dictionary

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

a) In the dictionary <code>soundtrack_dict</code> what are the keys ?

In [ ]:
# Write your code below and press Shift+Enter to execute
soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

Double-click __here__ for the solution.

<!-- Your answer is below:
soundtrack_dic.keys() # The Keys "The Bodyguard" and "Saturday Night Fever" 
-->

b) In the dictionary <code>soundtrack_dict</code> what are the values ?

In [ ]:
# Write your code below and press Shift+Enter to execute
soundtrack_dic .values()

dict_values(['1992', '1977'])

Double-click __here__ for the solution.

<!-- Your answer is below:
soundtrack_dic.values() # The values are "1992" and "1977"
-->

<hr>

<b>You will need this dictionary for the following questions:</b>

The Albums <b>Back in Black</b>, <b>The Bodyguard</b> and <b>Thriller</b> have the following music recording sales in millions 50, 50 and 65 respectively:

a) Create a dictionary <code>album_sales_dict</code> where the keys are the album name and the sales in millions are the values.

In [ ]:
# Write your code below and press Shift+Enter to execute
album_sales_dict={"Back in Black":50,"The Bodyguard":50,"Thriller":65}
album_sales_dict

{'Back in Black': 50, 'The Bodyguard': 50, 'Thriller': 65}

Double-click __here__ for the solution.

<!-- Your answer is below:
album_sales_dict = {"The Bodyguard":50, "Back in Black":50, "Thriller":65}
-->

b) Use the dictionary to find the total sales of <b>Thriller</b>:

In [ ]:
# Write your code below and press Shift+Enter to execute
album_sales_dict["Thriller"]

65

Double-click __here__ for the solution.

<!-- Your answer is below:
album_sales_dict["Thriller"]
-->

c) Find the names of the albums from the dictionary using the method <code>keys</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
album_sales_dict.keys()

dict_keys(['Back in Black', 'The Bodyguard', 'Thriller'])

Double-click __here__ for the solution.

<!-- Your answer is below:
album_sales_dict.keys()
-->

d) Find the names of the recording sales from the dictionary using the method <code>values</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
album_sales_dict.values()

dict_values([50, 50, 65])

Double-click __here__ for the solution.

<!-- Your answer is below:
album_sales_dict.values()
-->

In [ ]:
# DEEP _AND _SHALLOW COPY

In [ ]:
# Python code to demonstrate copy operations

# importing "copy" for copy operations
import copy

# initializing list 1
li1 = [1, 2, [3,5], 4]

# using deepcopy to deep copy
li2 = copy.deepcopy(li1)

In [ ]:
# original elements of list
print ("The original elements before deep copying")
for i in range(0,len(li1)):
    print (li1[i],end=" ")

print("\r")

The original elements before deep copying
1 2 [3, 5] 4

In [ ]:
# adding and element to new list
li2[2][0] = 7

# Change is reflected in l2
print ("The new list of elements after deep copying ")
for i in range(0,len( li1)):
    print (li2[i],end=" ")

print("\r")

The new list of elements after deep copying
1 2 [7, 5] 4

In [ ]:
# Change is NOT reflected in original list
# as it is a deep copy
print ("The original elements after deep copying")
for i in range(0,len( li1)):
    print (li1[i],end=" ")
    
#Deep Copy

The original elements after deep copying
1 2 [3, 5] 4

In [ ]:
# Python code to demonstrate copy operations

# importing "copy" for copy operations
import copy

# initializing list 1
li1 = [1, 2, [3,5], 4]

# using copy to shallow copy
li2 = copy.copy(li1)
print(li2)

[1, 2, [3, 5], 4]

In [ ]:
# original elements of list
print ("The original elements before shallow copying")
for i in range(0,len(li1)):
	print (li2[i],end=" ")

print("\r")

The original elements before shallow copying
1 2 [3, 5] 4

In [ ]:
# adding and element to new list
li1[2][0] = 9

# checking if change is reflected
print ("The original elements after shallow copying")
for i in range(0,len(li1)):
    print (li1[i],end=" ")
#shallow copy

The original elements after shallow copying
1 2 [9, 5] 4

In [ ]:
li1

[1, 2, [9, 5], 4]

In [ ]:
li2

[1, 2, [9, 5], 4]

## Functions

In [ ]:
#1. define a function
def func1():
  print("I am here in function1")

In [ ]:
# function communication
def func2():
  print("I am here function2")
  func1()
  print("Back to sweet home")
func2()

I am here function2
function1
Back to sweet home

In [ ]:
x=30
def a():
  print("function1:",x)

def b():
  print("fun2:",x)
  a()

b()

fun2: 30
function1: 30

In [ ]:
def a():
  x1 = 30
  print(x1)
def b():
  x2 = 40
  print(x2)
a()
b()

#### what is the ouput of the following code?

In [ ]:

# def a():
#   x1 = 30
#   print(x1)
# def b():
#   x2 = 40
#   print(x2)
# a()
# b()

#### what is the ouput of the following code?

In [ ]:
# global variable
# b=1500
# def var_func1():
#    print(b)
#    b = b+10
#    print(b)

# def var_func2():
#   print(b)
  


# var_func1()
# var_func2()

### global key word

In [ ]:
# global variable
b=0
def var_func1():
   global b
   print(b)
   b = b+10
   print(b)

def var_func2():
  print(b)
  


var_func1()
var_func2()

0
10
10

### Nested Loops and recursive functions
* Write a function to print the prime numbers in the in a given range of two number(including both)
* Write a fucntion to sort the elements L1=[4,0,1,5,2,10,-1]
* Write a recursive function to print the factorial of a number.A recursive funtion is one which calls itself.
* Write a recursive fucntion to get the sum of first n natural numbers.

In [ ]:
# Write a function to print the prime numbers in the in a given range of two number(including both)
def primeCheck(n):
    f=0
    # YOUR CODE HERE
a=int(input())
b=int(input())
for i in range(a,b):
      primeCheck(i)

In [ ]:
# Above code using nested loops
a=int(input())
b=int(input())
for i in range(a,b):
    f=0
    # YOUR CODE HERE
    for j in range(1,i+1):
      if i%j == 0:
        f = f+1
    if f==2:
      print()
    else:
      print()
    # YOUR CODE HERE

In [ ]:
#Write a recursive function to print the factorial of a number.A recursive funtion is one which calls itself.

def recursiveFact(n):
    # YOUR CODE HERE
    if( n==0 ) :
      return 1;
    else:
      return n* recursiveFact( n-1)
n=int(input())
print(recursiveFact(n))

In [ ]:
#Write a recursive fucntion to get the sum of first n natural numbers.
def recursiveSum(n):
    # YOUR CODE HERE
   
n=int(input())
print(recursiveSum(n))

In [ ]:
Projects= Task

NameError: name 'Task' is not defined

<p><strong>Welcome!</strong> This notebook will teach you about the functions in the Python Programming Language. 
    
By the end of this lab, you'll know the basic concepts about function, variables, and how to use functions.</p>

1. Function

2. Function with return statement

3. Argument & types of argument

4. Pass by value/Pass by Reference

5. SCope of variables


6. Lambda Function

7. Recursive Functions

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#func">Functions</a>
            <ul>
                <li><a href="content">What is a function?</a></li>
                <li><a href="var">Variables</a></li>
                <li><a href="simple">Functions Make Things Simple</a></li>
            </ul>
        </li>
        <li><a href="pre">Pre-defined functions</a></li>
        <li><a href="if">Using <code>if</code>/<code>else</code> Statements and Loops in Functions</a></li>
        <li><a href="default">Setting default argument values in your custom functions</a></li>
        <li><a href="global">Global variables</a></li>
        <li><a href="scope">Scope of a Variable</a></li>
        <li>
            <a href="#quiz">Quiz on Loops</a>
        </li>
    </ul>
    <p>
        Estimated time needed: <strong>40 min</strong>
    </p>
</div>

<hr>

In [ ]:
print("India")

print("Kerala")

India
Kerala

software: Digital Calculator
    
1. Arithmatical operations(+ - / *)
          +
2. Trognometric operation
          +
3. Integration/Derivative

In [ ]:
print('a')

a

In [ ]:
a=[1,2,3,4,5,6,7]

In [ ]:
len(a)

7

In [ ]:
Project: Calculator

In [ ]:
Addition
Division

In [ ]:
Addition: 
    
    Function

<h2 id="func">Functions</h2>

A function is a reusable block of code which performs operations specified in the function.  

They let you break down tasks and allow you to reuse your code in different programs.

There are two types of functions :

- <b>Pre-defined functions</b>/Built in Functions


- <b>User defined functions</b>

You can define functions to provide the required functionality. Here are simple rules to define a function in Python:
-  Functions blocks begin <code>def</code>followed by the function <code>name</code> and parentheses <code>()</code>.


-  There are input parameters or arguments that should be placed within these parentheses. 


-  You can also define parameters inside these parentheses.


-  There is a body within every function that starts with a colon (<code>:</code>) and is indented.


-  You can also place documentation before the body 


-  The statement <code>return</code> exits a function, optionally passing back a value 


An example of a function that adds on to the parameter <code>a</code> prints and returns the output as <code>b</code>:

In [ ]:
def salman():
    print('India')
    print()
    print('USA')

In [ ]:
salman()

India

USA

In [ ]:
1. Function Definition

2. Function call

In [ ]:
def add_2(a,b):
    c=a+b
    print(c)

In [ ]:
add_2(6,7)

13

In [ ]:
def add_3():
    a=7
    b=8
    c=9
    d=a+b+c
    print(d)

In [ ]:
add_3()

24

In [ ]:
def add_3():
    a=int(input('Enter the vaue of a'))
    b=int(input('Enter the vaue of b'))
    c=int(input('Enter the vaue of c'))
    d=a+b+c
    print(d)

In [ ]:
add_3()

Enter the vaue of a8
Enter the vaue of b67
Enter the vaue of c98
173

In [ ]:
add_3()

24

In [ ]:
def name():
    print('India')
    print('INSOFE')

In [ ]:
name()

India
INSOFE

In [ ]:
def name1():
    print('India')

In [ ]:
name()

India

# syntax

def functionname( parameters ):
   "function_docstring"
   function_suite
   return [expression]

# Function Definition /Defining Function

In [ ]:
def print_something1():
    
    print('arpit')

In [ ]:
def print_something():
    print('ashu')

# Function Calling

In [ ]:
print_something1()

arpit

In [ ]:
print_something()

ashu

![](func.png)

# Functions with input arguments

In [ ]:
def print_text(text):
    print(text)

In [ ]:
print_text('Hello World!')

Hello World!

In [ ]:
print_text('My dogs are the cutest!')

My dogs are the cutest!

In [ ]:
def add_2(a,b):
    c=a+b
    print(c)
    print('India')
    print('INSOFE')

In [ ]:
add_2(2,3)

5
India
INSOFE

In [ ]:
add_2(60,56)

116

In [ ]:
def mul_4num(a,b,c,d):
    e=a*b*c*d
    print(e)

In [ ]:
mul_4num(2,3,4,5,)

120

In [ ]:
sum_num(4,'a')

aaaa

In [ ]:
'a'*4

'aaaa'

In [ ]:
print("INSOFE")

INSOFE

In [ ]:
def prod_num(x,y,z):
    print(x*y*z)

# Z= a+2b+c

In [ ]:
prod_num(2,3,8)

48

In [ ]:
print(4)

4

In [ ]:
def add_numbers(a, b):
    print('Sum: ', a + b)

In [ ]:
add_numbers(11, 22)

Sum:  33

In [ ]:
add_numbers(117, 622)

Sum:  739

In [ ]:
a = 10
b = 20

def add(x, y):
    
    
    print('Addition: ', x+y)

In [ ]:
add(2,3)

Addition:  5

In [ ]:
def subtract(x, y):
    print('Subtraction: ', x - y)

In [ ]:
subtract(23, 12)

Subtraction:  11

In [ ]:
a = 34
b = 12

subtract(a, b)

Subtraction:  22

# Arguments of a Function

1. Arguments are the values passed inside the parenthesis of the function. 

2. A function can have any number of arguments separated by a comma.

3. The arguments are types of information which can be passed into the function. 

4. The arguments are specified in the parentheses. We can pass any number of arguments, but they must be separate them with a comma.

Example: Python Function with arguments

In this example, we will create a simple function to check whether the number passed as an argument to the function is even or odd

In [ ]:
# A simple Python function to check
# whether x is even or odd
 
 
def evenOdd(x):
    if (x % 2 == 0):
        print("even")
    else:
        print("odd")
 
 
# Driver code to call the function
evenOdd(2)
evenOdd(3)
evenOdd(10)

even
odd
even

In [ ]:
#defining the function    
def func(name):    
    print("Hi ",name)   
#calling the function     
func("Devansh")

Hi  Devansh

# Types of Arguments

1. Default

2. Keyword

3. Variable Length

4. Docstring

# Default Argument

A default argument is a parameter that assumes a default value if a value is not provided in the function call for that argument. 

The following example illustrates Default arguments.

In [ ]:
# Python program to demonstrate
# default arguments
 
 
def myFun(x, y=50):
    print("x: ", x)
    print("y: ", y)
 
 
# Driver code (We call myFun() with only
# argument)
myFun(10)

x:  10
y:  50

In [ ]:
myFun(10,20)

x:  10
y:  20

# Keyword arguments

The idea is to allow the caller to specify the argument name with values so that caller does not need to remember the order of parameters.

In [ ]:
# Python program to demonstrate Keyword Arguments
def student(firstname, lastname):
    print(firstname, lastname)
 
 
# Keyword arguments
student(firstname='Arpit', lastname='Yadav')

student(lastname='Yadav', firstname='Arpit')

Arpit Yadav
Arpit Yadav

# Variable-length arguments

In Python, we can pass a variable number of arguments to a function using special symbols. There are two special symbols:

*args (Non-Keyword Arguments)

**kwargs (Keyword Arguments)

# Example 1: Variable length non-keywords argument

In [ ]:
#Python program to illustrate
# *args for variable number of arguments
 
 
def myFun(*argv):
    for arg in argv:
        print(arg)
 
 
myFun('Hello', 'Welcome', 'to', 'India','India','is','great','Bangalore','is','capital')

Hello
Welcome
to
India
India
is
great
Bangalore
is
capital

# Example 2: Variable length keyword arguments

In [ ]:
# Python program to illustrate
# *kwargs for variable number of keyword arguments
 
 
def myFun(**kwargs):
    for key, value in kwargs.items():
        print("%s == %s" % (key, value))
 
 
# Driver code
myFun(first='India', mid='is', last='Great')

first == India
mid == is
last == Great

# Docstring

The first string after the function is called the Document string or Docstring in short. 

This is used to describe the functionality of the function. 

The use of docstring in functions is optional but it is considered a good practice.

The below syntax can be used to print out the docstring of a function:

Syntax: print(function_name.__doc__)

In [ ]:
#A simple Python function to check
# whether x is even or odd
 
 
def evenOdd(x):
    """Function to check if the number is even or odd"""
     
    if (x % 2 == 0):
        print("even")
    else:
        print("odd")
 
 
# Driver code to call the function
print(evenOdd.__doc__)

Function to check if the number is even or odd

# Functions with return values

In [ ]:
a=10
b=20
c=a+b
c

30

In [ ]:
def add_2(a,b):
    c=a+b
    print('india')
    print('INSOFE')
    return c
    print('india')
    print('INSOFE')
    print()
    print()
    print('Hyderabad')

In [ ]:
add_2(3,4)

india
INSOFE

7

def my_function(parameters):  
      function_block  
return expression

Let's understand the syntax of functions definition.

1. The def keyword, along with the function name is used to define the function.

2.The identifier rule must follow the function name.

3. A function accepts the parameter (argument), and they can be optional.

4. The function block is started with the colon (:), and block statements must be at the same indentation.

5. The return statement is used to return the value. A function can have only one return

Function Calling

In Python, after the function is created, we can call it from another function. A function must be defined before the function call; otherwise, the Python interpreter gives an error. To call the function, use the function name followed by the parentheses.

Consider the following example of a simple example that prints the message "Hello World".

In [ ]:
#function definition  
def hello_world():    
    print("hello world")    
# function calling  
hello_world()

hello world

# The return statement

The return statement is used at the end of the function and returns the result of the function. 

It terminates the function execution and transfers the result where the function is called. 

The return statement cannot be used outside of the function.

Syntax

return [expression_list]  

It can contain the expression which gets evaluated and value is returned to the caller function. If the return statement has no expression or does not exist itself in the function then it returns the None object.

In [ ]:
# Defining function  
def sum_2():  
    a = 10  
    b = 20  
    c = a+b
    print("India")
    return c 
    print("India1")
# calling sum() function in print statement  
print("The sum is:",sum_2())

India
The sum is: 30

# Example 2 Creating function without return statement

In [ ]:
# Defining function  
def sum_1():  
    a = 10  
    b = 20  
    c = a+b
    # calling sum() function in print statement  
print(sum_1())

None

In the above code, we have defined the same function without the return statement as we can see that the sum() function returned the None object to the caller function.

The return statement is used when a function is ready to return a value to its caller

When a return statement is reached, Python will stop the execution of the current function, sending a value out to where the function was called. 

Use return when you want to send a value from one point in your code to another.

A return statement is used to end the execution of the function call and returns the result (value of the expression following the return keyword) to the caller.The statements after the return statements are not executed

The return statement terminates the execution of a function and returns control to the calling function. Execution resumes in the calling function at the point immediately following the call. A return statement can also return a value to the calling function.

In [ ]:
#Python function to calculate the sum of two variables     
#defining the function    
def sum_3(a,b):    
    return a+b;    
    

#taking values from the user    
a = int(input("Enter a: "))    
b = int(input("Enter b: "))    
    
#printing the sum of a and b    
print("Sum = ",sum_3(a,b))

Enter a: 6
Enter b: 8
Sum =  14

In [ ]:
def subtract(x, y):
    
    
    result = x - y
    
    print('Subtraction: ', result)
    print('a')
    return result
print('b')

In [ ]:
subtract(3,4)

Subtraction:  -1
a

-1

In [ ]:
r = subtract(12, 6)

Subtraction:  6
a

In [ ]:
r

6

The figure below illustrates the terminology:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%203/Images/FuncsDefinition.png" width="500" />

We can obtain help about a function :

In [ ]:
# Get a help on add function

help(add)

Help on function add in module __main__:

add(x, y)

In [ ]:
# First function example: Add 1 to a and store as b

def add(a):
    b = a + 1
    print(a, "if you add one", b)
    return(b)

We can call the function:

In [ ]:
# Call the function add()

add(1)

1 if you add one 2

2

If we call the function with a new input we get a new result:

In [ ]:
# Call the function add()

add(2)

2 if you add one 3

3

We can create different functions. For example, we can create a function that multiplies two numbers. The numbers will be represented by the variables <code>a</code> and <code>b</code>:

In [ ]:
# Define a function for multiple two numbers

def Mult(a, b):
    c = a * b
    return(c)

The same function can be used for different data types. For example, we can multiply two integers:

In [ ]:
# Use mult() multiply two integers

Mult(2, 3)

6

 Two Floats:

In [ ]:
# Use mult() multiply two floats

Mult(10.0, 3.14)

31.400000000000002

We can even replicate a string by multiplying with an integer:

In [ ]:
# Use mult() multiply two different type values together

Mult(2, "Michael Jackson ")

'Michael Jackson Michael Jackson '

# Named arguments to a function

In [ ]:
def fn_with_many_arguments(a, b, c, d, e):
    
    result = a + b - c * d / e
    
    return result

In [ ]:
fn_with_many_arguments(2, 3, 5, 6,7)

0.7142857142857144

In [ ]:
fn_with_many_arguments(a=2, b=3, c=5, d=6, e=2)

-10.0

# Is Python Function Pass by Reference or pass by value?

After defining a function, we need pass arguments into it to get desired output. Most programming languages support call by value and call by reference methods for passing arguments into functions.

In this chapter, we will learn "call by value" works in an object-oriented programming language like C++ and a functional programming language like Python.

In Call by Value method, the original value cannot be changed. When we pass an argument to a function, it is stored locally by the function parameter in stack memory. Hence, the values are changed inside the function only and it will not have an effect outside the function.

# Call by Value in Python

In [ ]:
def swap(a,b): 
   t = a; 
   a = b; 
   b = t; 
   print ("value of a inside the function: :",a) 
   print ("value of b inside the function: ",b)

# Now we can call the swap function 
a = 50 
b = 75 
print ("value of a before sending to function: ",a)
print ("value of b before sending to function: ",b) 
swap(a,b) 
print ("value of a after sending to function: ", a) 
print ("value of b after sending to function: ",b)

value of a before sending to function:  50
value of b before sending to function:  75
value of a inside the function: : 75
value of b inside the function:  50
value of a after sending to function:  50
value of b after sending to function:  75

# Call by Reference

In Call by Reference, the original value is changed because we pass reference address of arguments. The actual and formal arguments share the same address space, so any change of value inside the function is reflected inside as well as outside the function.

In [ ]:
def swap(a,b): 
   t = a; 
   a = b; 
   b = t; 
   print ("value of a inside the function: :",a) 
   print ("value of b inside the function: ",b) 
   return(a,b) 
    
# Now we can call swap function 
a = 50 
b =75 
print ("value of a before sending to function: ",a) 
print ("value of b before sending to function: ",b) 
x = swap(a,b) 
print ("value of a after sending to function: ", x[0]) 
print ("value of b after sending to function: ",x[1])

value of a before sending to function:  50
value of b before sending to function:  75
value of a inside the function: : 75
value of b inside the function:  50
value of a after sending to function:  75
value of b after sending to function:  50

One important thing to note is, in Python every variable name is a reference. When we pass a variable to a function, a new reference to the object is created.

# call by value: (String/Tuple)

In [ ]:
str='India'
def update(str1):
    print(str1)
    str1='Yadav'
    print(str1)
    
print(str)    
update(str)    
print(str)

India
India
Yadav
India

# Call by Reference: (List)

In [ ]:
l=[1,2,3]
def update(l1):
    print(l1)
    l1.append(4)
    print(l1)
    
print(l)    
update(l)    
print(l)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
# Here x is a new reference to same list lst
def myFun(x):
    x[0] = 20
 
 
# Driver Code (Note that lst is modified
# after function call.
lst = [10, 11, 12, 13, 14, 15]
myFun(lst)
print(lst)

[20, 11, 12, 13, 14, 15]

Call by reference in Python

In Python, call by reference means passing the actual value as an argument in the function. All the functions are called by reference, i.e., all the changes made to the reference inside the function revert back to the original value referred by the reference.

# Example 1 Passing Immutable Object (List)

In [ ]:
#defining the function    
def change_list(list1):    
    list1.append(20)   
    list1.append(30)    
    print("list inside function = ",list1)    
    
#defining the list    
list1 = [10,30,40,50]    
    
#calling the function     
change_list(list1)  
print("list outside function = ",list1)

list inside function =  [10, 30, 40, 50, 20, 30]
list outside function =  [10, 30, 40, 50, 20, 30]

# Example 2 Passing Object (String)

In [ ]:
#defining the function    
def change_string (str):    
    str = str + " Hows you "  
    print("printing the string inside function :",str)  
    
string1 = "Hi I am there"    
    
#calling the function    
change_string(string1)    
    
print("printing the string outside function :",string1)

printing the string inside function : Hi I am there Hows you
printing the string outside function : Hi I am there

# Default arguments to a function

In [ ]:
def print_num_times(name, num=1):

    for i in range(num):
        print(name)

In [ ]:
print_num_times('Yukti', 6)

Yukti
Yukti
Yukti
Yukti
Yukti
Yukti

In [ ]:
def greet(name, greeting="Hello", num_times=1):

    for i in range(num_times):
        print(greeting, name)

In [ ]:
greet('Akash')

Hello Akash

In [ ]:
greet('Akash', greeting='Namaste')

Namaste Akash

In [ ]:
greet('Akash', num_times=3)

Hello Akash
Hello Akash
Hello Akash

In [ ]:
def greet(name, greeting="Hello", num_times):
    for i in range(num_times):
        print(greeting, name)

SyntaxError: non-default argument follows default argument (<ipython-input-13-86efcc4716e1>, line 1)

# Keyword vs positional arguments

In [ ]:
# All arguments are positional
greet('Namrata', 'Good morning', 4)

Good morning Namrata
Good morning Namrata
Good morning Namrata
Good morning Namrata

<h3 id="var">Variables</h3>

The input to a function is called a formal parameter.

A variable that is declared inside a function is called a  local variable. The parameter only exists within the function (i.e. the point where the function starts and stops).  

A variable that is declared outside a function definition is a global variable, and its value is accessible and modifiable throughout the program. We will discuss more about global variables at the end of the lab.

In [ ]:
# Function Definition

def square(a):
    
    # Local variable b
    b = 1
    c = a * a + b
    print(a, "if you square + 1", c) 
    return(c)

The labels are displayed in the figure:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%203/Images/FuncsVar.png" width="500" />

We can call the function  with an input of <b>3</b>:

In [ ]:
# Initializes Global variable  

x = 3
# Makes function call and return function a y
y = square(x)
y

3 if you square + 1 10

10

 We can call the function  with an input of <b>2</b> in a different manner:

In [ ]:
# Directly enter a number as parameter

square(2)

2 if you square + 1 5

5

If there is no <code>return</code> statement, the function returns <code>None</code>. The following two functions are equivalent:

In [ ]:
# Define functions, one with return value None and other without return value

def MJ():
    print('Michael Jackson')
    
def MJ1():
    print('Michael Jackson')
    return(None)

In [ ]:
# See the output

MJ()

Michael Jackson

In [ ]:
# See the output

MJ1()

Michael Jackson

Printing the function after a call reveals a **None** is the default return statement:

In [ ]:
# See what functions returns are

print(MJ())
print(MJ1())

Michael Jackson
None
Michael Jackson
None

Create a function <code>con</code> that  concatenates two strings using the addition operation:

In [ ]:
# Define the function for combining strings

def con(a, b):
    return(a + b)

In [ ]:
# Test on the con() function

con("This ","is")

'This is'

<hr/>
    <div class="alert alert-success alertsuccess" style="margin-top: 20px">
        <h4> [Tip] How do I learn more about the pre-defined functions in Python? </h4>
        <p>We will be introducing a variety of pre-defined functions to you as you learn more about Python. There are just too many functions, so there's no way we can teach them all in one sitting. But if you'd like to take a quick peek, here's a short reference card for some of the commonly-used pre-defined functions: <a href="http://www.astro.up.pt/~sousasag/Python_For_Astronomers/Python_qr.pdf">Reference</a></p>
    </div>
<hr/>

<h3 id="simple">Functions Make Things Simple</h3>

Consider the two lines of code in <b>Block 1</b> and <b>Block 2</b>: the procedure for each block is identical. The only thing that is different is the variable names and values.

<h4>Block 1:</h4>

In [ ]:
# a and b calculation block1

a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0 
else:
    c1 = 5
c1

5

<h4>Block 2:</h4>

In [ ]:
# a and b calculation block2

a2 = 0
b2 = 0
c2 = a2 + b2 + 2 * a2 * b2 - 1
if(c2 < 0):
    c2 = 0 
else:
    c2 = 5
c2

0

We can replace the lines of code with a function. A function combines many instructions into a single line of code. Once afunctionis defined, it can be used repeatedly. You can invoke the samefunctionmany times in yourprogram. You can save your function and use it in another program or use someone elses function. The lines of code in code <b>Block 1</b> and code <b>Block 2</b> can be replaced by the following function:

In [ ]:
# Make a Function for the calculation above

def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if(c < 0):
        c = 0 
    else:
        c = 5
    return(c)

This function takes two inputs, a and b, then applies several operations to return c. 
We simply define the function, replace the instructions with the function, and input the new values of <code>a1</code>, <code>b1</code> and <code>a2</code>, <code>b2</code> as inputs. The entire process is demonstrated in the figure:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%203/Images/FuncsPros.gif" width="850" />

Code **Blocks 1** and **Block 2** can now be replaced with code **Block 3** and code **Block 4**.

<h4>Block 3:</h4>

In [ ]:
a1 = 4
b1 = 5
c1 = Equation(a1, b1)
c1

5

<h4>Block 4:</h4>

In [ ]:
a2 = 0
b2 = 0
c2 = Equation(a2, b2)
c2

0

<hr>

<h2 id="pre">Pre-defined functions</h2>

There are many pre-defined functions in Python, so let's start with the simple ones.

The <code>print()</code> function:

In [ ]:
# Build-in function print()

album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5] 
print(album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

The <code>sum()</code> function adds all the  elements in a list or tuple:

In [ ]:
# Use sum() to add every element in a list or tuple together

sum(album_ratings)

70.0

The <code>len()</code> function returns the length of a list or tuple:

In [ ]:
# Show the length of the list or tuple

len(album_ratings)

8

# Scope and Lifetime of variables

Scope of a variable is the portion of a program where the variable is recognized. Parameters and variables defined inside a function are not visible from outside the function. Hence, they have a local scope.

The lifetime of a variable is the period throughout which the variable exists in the memory. The lifetime of variables inside a function is as long as the function executes.

They are destroyed once we return from the function. Hence, a function does not remember the value of a variable from its previous calls.

Here is an example to illustrate the scope of a variable inside a function.

In [ ]:
def my_func():
	x = 10
	print("Value inside function:",x)

x = 20
my_func()
print("Value outside function:",x)

Value inside function: 10
Value outside function: 20

Here, we can see that the value of x is 20 initially. Even though the function my_func() changed the value of x to 10, it did not affect the value outside the function.

This is because the variable x inside the function is different (local to the function) from the one outside. Although they have the same names, they are two different variables with different scopes.

On the other hand, variables outside of the function are visible from inside. They have a global scope.

We can read these values from inside the function but cannot change (write) them. In order to modify the value of variables outside the function, they must be declared as global variables using the keyword global.

# Scope of variables


The scopes of the variables depend upon the location where the variable is being declared. The variable declared in one part of the program may not be accessible to the other parts.

In python, the variables are defined with the two types of scopes.

1. Global variables

2. Local variables

The variable defined outside any function is known to have a global scope, whereas the variable defined inside a function is known to have a local scope.

# Example 1 Local Variable

In [ ]:
def print_message():    
    message = "hello !! I am going to print a message." # the variable message is local to the function itself    
    print(message)    
print_message()    
print(message) # this will cause an error since a local variable cannot be accessible here.

hello !! I am going to print a message.

NameError: name 'message' is not defined

# Example 2 Global Variable

In [ ]:
def calculate(*args):    
    sum=0    
    for arg in args:    
        sum = sum +arg    
    print("The sum is",sum)    
sum=0    
calculate(10,20,30) #60 will be printed as the sum    
print("Value of sum outside the function:",sum) # 0 will be printed  Output:

The sum is 60
Value of sum outside the function: 0

# Python Recursive Function
In Python, we know that a function can call other functions. It is even possible for the function to call itself. These types of construct are termed as recursive functions.

The following image shows the working of a recursive function called recurse.

In [ ]:
Recursive Function: Function calling Function

In [ ]:
Function Body/Definition

Function Call

In [ ]:
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))


num = 3
print("The factorial of", num, "is", factorial(num))

The factorial of 3 is 6

factorial(3)          # 1st call with 3
3 * factorial(2)      # 2nd call with 2
3 * 2 * factorial(1)  # 3rd call with 1
3 * 2 * 1             # return from 3rd call as number=1
3 * 2                 # return from 2nd call
6                     # return from 1st call

<h2 id="if">Using <code>if</code>/<code>else</code> Statements and Loops in Functions</h2>

The <code>return()</code> function is particularly useful if you have any IF statements in the function, when you want your output to be dependent on some condition:

In [ ]:
# Function example

def type_of_album(artist, album, year_released):
    
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

Michael Jackson Thriller 1980
Oldie

We can use a loop in a function. For example, we can <code>print</code> out each element in a list:

In [ ]:
# Print the list using for loop

def PrintList(the_list):
    for element in the_list:
        print(element)

In [ ]:
# Implement the printlist function

PrintList(['1', 1, 'the man', "abc"])

1
1
the man
abc

<hr>

<h2 id="default">Setting default argument values in your custom functions</h2>

You can set a default value for arguments in your function. For example, in the <code>isGoodRating()</code> function, what if we wanted to create a threshold for what we consider to be a good rating? Perhaps by default, we should have a default rating of 4:

In [ ]:
# Example for setting param with default value

def isGoodRating(rating=4): 
    if(rating < 7):
        print("this album sucks it's rating is",rating)
        
    else:
        print("this album is good its rating is",rating)

In [ ]:
# Test the value with default value and with input

isGoodRating()
isGoodRating(10)

this album sucks it's rating is 4
this album is good its rating is 10

<hr>

<h2 id="global">Global variables</h2>

So far, we've been creating variables within functions, but we have not discussed variables outside the function.  These are called global variables. 
<br>
Let's try to see what <code>printer1</code> returns:

In [ ]:
# Example of global variable

artist = "Michael Jackson"
def printer1(artist):
    internal_var = artist
    print(artist, "is an artist")
    
printer1(artist)

Michael Jackson is an artist

If we print <code>internal_var</code> we get an error.

<b>We got a Name Error:  <code>name 'internal_var' is not defined</code>. Why?</b>  

It's because all the variables we create in the function is a <b>local variable</b>, meaning that the variable assignment does not persist outside the function.  

But there is a way to create <b>global variables</b> from within a function as follows:

In [ ]:
artist = "Michael Jackson"

def printer(artist):
    global internal_var 
    internal_var= "Whitney Houston"
    print(artist,"is an artist")

printer(artist) 
printer(internal_var)

Michael Jackson is an artist
Whitney Houston is an artist

<h2 id="scope">Scope of a Variable</h2>

 The scope of a variable is the part of that program where that variable is accessible. Variables that are declared outside of all function definitions, such as the <code>myFavouriteBand</code> variable in the code shown here, are accessible from anywhere within the program. As a result, such variables are said to have global scope, and are known as global variables. 
    <code>myFavouriteBand</code> is a global variable, so it is accessible from within the <code>getBandRating</code> function, and we can use it to determine a band's rating. We can also use it outside of the function, such as when we pass it to the print function to display it:

In [ ]:
# Example of global variable

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:", getBandRating("AC/DC"))
print("Deep Purple's rating is:",getBandRating("Deep Purple"))
print("My favourite band is:", myFavouriteBand)

AC/DC's rating is: 10.0
Deep Purple's rating is: 0.0
My favourite band is: AC/DC

 Take a look at this modified version of our code. Now the <code>myFavouriteBand</code> variable is defined within the <code>getBandRating</code> function. A variable that is defined within a function is said to be a local variable of that function. That means that it is only accessible from within the function in which it is defined. Our <code>getBandRating</code> function will still work, because <code>myFavouriteBand</code> is still defined within the function. However, we can no longer print <code>myFavouriteBand</code> outside our function, because it is a local variable of our <code>getBandRating</code> function; it is only defined within the <code>getBandRating</code> function:

In [ ]:
# Example of local variable

def getBandRating(bandname):
    myFavouriteBand = "AC/DC"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is: ", getBandRating("AC/DC"))
print("Deep Purple's rating is: ", getBandRating("Deep Purple"))
print("My favourite band is", myFavouriteBand)

AC/DC's rating is:  10.0
Deep Purple's rating is:  0.0
My favourite band is AC/DC

 Finally, take a look at this example. We now have two <code>myFavouriteBand</code> variable definitions. The first one of these has a global scope, and the second of them is a local variable within the <code>getBandRating</code> function. Within the <code>getBandRating</code> function, the local variable takes precedence. **Deep Purple** will receive a rating of 10.0 when passed to the <code>getBandRating</code> function. However, outside of the <code>getBandRating</code> function, the <code>getBandRating</code> s local variable is not defined, so the <code>myFavouriteBand</code> variable we print is the global variable, which has a value of **AC/DC**:

In [ ]:
# Example of global variable and local variable with the same name

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    myFavouriteBand = "Deep Purple"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:",getBandRating("AC/DC"))
print("Deep Purple's rating is: ",getBandRating("Deep Purple"))
print("My favourite band is:",myFavouriteBand)

AC/DC's rating is: 0.0
Deep Purple's rating is:  10.0
My favourite band is: AC/DC

<h2>Quiz on Functions</h2>

Come up with a function that divides the first input by the second input:

In [ ]:
# Write your code below and press Shift+Enter to execute
def div(a,b):
    return(a/b)
div(6,3)

2.0

Double-click __here__ for the solution.

<!-- 
def div(a, b):
    return(a/b)
-->

<hr>

Use the function <code>con</code> for the following question.

In [ ]:
# Use the con function for the following question

def con(a, b):
    return(a + b)

Can the <code>con</code> function we defined before be used to add to integers or strings?

In [ ]:
# Write your code below and press Shift+Enter to execute
con('Arpit','Yadav')

'ArpitYadav'

Double-click __here__ for the solution.

<!-- 
yes, for example: 
con(2, 2)
 -->

<hr>

Can the <code>con</code> function we defined before be used to concentrate a list or tuple?

In [ ]:
# Write your code below and press Shift+Enter to execute
con([1,2],[23,45])

[1, 2, 23, 45]

Double-click __here__ for the solution.

<!-- 
yes,for example: 
con(['a', 1], ['b', 1])
-->

# Define a function that accepts 2 values and return its sum, subtraction and multiplication.

In [ ]:
def result(a, b):
    sum = a+b
    sub = a-b
    mul = a*b
    print(f"Sum is {sum}, Sub is {sub}, & Multiply is {mul}")

a = int(input("Enter value of a: "))  # 7
b = int(input("Enter value of b: "))  # 5
result(a,b)

Enter value of a: 10
Enter value of b: 20
Sum is 30, Sub is -10, & Multiply is 200

# Define a function that accepts roll number and returns whether the student is present or absent.

In [ ]:
def detail(roll):
    x = [23,43,22,56]
    if roll in x:
        print(f"Roll number {roll} is present")
    else:
        print(f"Roll number {roll} is absent")
roll = int(input("Enter roll no. ")) # 24
detail(roll)

Enter roll no. 21
Roll number 21 is absent

# Define a function in python that accepts 3 values and returns the maximum of three numbers.

In [ ]:
def max(a, b, c):
    if a > b and a > c:
        print(f"{a} is maximum among all")
    elif b > a and b > c:
        print(f"{b} is maximum among all")
    else:
        print(f"{c} is maximum among all")

In [ ]:
max(30,22,18)

30 is maximum among all

# Define a function that accepts a number and returns whether the number is even or odd.

In [ ]:
def func(x):
    if x % 2 == 0:
        print(f"{x} is Even number")
    else:
        print(f"{x} is Odd number")
x = int(input("Enter a number"))
func(4)

Enter a number7
4 is Even number

# Define a function which counts vowels and consonant in a word.

In [ ]:
def count(val):
    vov = 0
    con = 0
    for i in range(len(val)):
        if val[i] in ['a','e','i','o','u']:
            vov = vov+1
        else:
            con = con + 1

    print("Count of vowels is ",vov)
    print("Count of consonant is ",con)

x = input("Enter Value: ") # pythonlobby
count(x)

Enter Value: 39
Count of vowels is  0
Count of consonant is  2

# Define a function that returns Factorial of a number.

In [ ]:
def factorial(num):
    fact = 1
    while(num!=0):
        fact *= num
        num = num - 1
    print("Factorial is",fact)

num = int(input("Enter number "))
factorial(num)

Enter number 34
Factorial is 295232799039604140847618609643520000000

# Define a function that accepts lowercase words and returns uppercase words.

In [ ]:
def response(text):
    z = text.upper()
    print(z)

text = input("Enter String: ")  # pythonlobby
response(text)

Enter String: python
PYTHON

# Define a function that accepts radius and returns the area of a circle.

In [ ]:
def area(radius):
    area = 3.14*radius*radius
    return area

radius = int(input("Enter Radius: "))  # 4
print(area(radius))

Enter Radius: 6
113.03999999999999

## Numpy Arrays
  * NumPy is a Python library.

  * NumPy is used for working with arrays.

  * NumPy is short for "Numerical Python".

### Why Numpy
  * In Python we have lists that serve the purpose of arrays, but they are slow to process.

  * NumPy aims to provide an array object that is up to 50x faster than traditional Python lists.

  * The array object in NumPy is called ndarray, it provides a lot of supporting functions that make working with ndarray very easy.

  * Arrays are very frequently used in data science, where speed and resources are very important.

### Getting Started
#### NumPy Creating Arrays

In [ ]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
print(arr)
print(type(arr))

[1 2 3 4 5]
<class 'numpy.ndarray'>

In [ ]:
print(np.__version__)

1.21.5
<class 'numpy.ndarray'>

### Dimensions in arrays
  * 1-D Arrays
  * 2-D Arrays
  * 3-D Arrays

In [ ]:
a = np.array(42) # 0 Dimensional
b = np.array([1, 2, 3, 4, 5])  # 1 dimensional
c = np.array([[1, 2, 3], 
              [4, 5, 6]]
             ) # 2 dimensional
d = np.array([
              [[1, 2, 3], [4, 5, 6]],
              [[1, 2, 3], [4, 5, 6]]
              ]) # 3 dimensional
 
print(a.ndim)
print(b.ndim)
print(c.ndim)
print(d.ndim)

0
1
2
3

### Create Array using ndmin,
* check shape,number of dimensions

In [ ]:
a = np.array([1,2,3,4],ndmin=2)
print(a.shape)
print(a.ndim)

(1, 4)
2

### Array indexing and slicing

In [ ]:
b = np.array([1, 2, 3, 4, 5])  # 1 dimensional
print(b[0])
print(b[0:2])
print(b[0:5])
print(b[-1])
print(b[-5:])
print(b[-3:4])

1
[1 2]
[1 2 3 4 5]
5
[1 2 3 4 5]
[3 4]

In [ ]:
c = np.array([[1, 2, 3], 
              [4, 5, 6]]) # 2 dimensional
print(c.ndim)
print(c.shape)

print(c[0,])
print(c[1,])
print(c[ :,0])
print(c[ : ,1])
print(c[ :,0])
print(c[ : ,2])

print(c[0:2, 0:1])

2
(2, 3)
[1 2 3]
[4 5 6]
[1 4]
[2 5]
[1 4]
[3 6]
[[1]
 [4]]

In [ ]:
d = np.array([
              [[1, 2, 3], [4, 5, 6]],
              [[1, 2, 3], [4, 5, 6]]
              ]) # 3 dimensional
print(d.ndim)
print(d.shape)

print("*******")
print(d[ : , : ,:])
print("*******")
print(d[ : , 0:2 , 0:2])
print("*******")
print(d[ 0, 0:2 , 0:2])
print("*******")
print(d[ 1, 0:2 , 0:2])

3
(2, 2, 3)
*******
[[[1 2 3]
  [4 5 6]]

 [[1 2 3]
  [4 5 6]]]
*******
[[[1 2]
  [4 5]]

 [[1 2]
  [4 5]]]
*******
[[1 2]
 [4 5]]
*******
[[1 2]
 [4 5]]

### Datatypes in Numpy
* strings - used to represent text data, the text is given under quote marks. e.g. "ABCD"
* integer - used to represent integer numbers. e.g. -1, -2, -3
* float - used to represent real numbers. e.g. 1.2, 42.42
* boolean - used to represent True or False.
* complex - used to represent complex numbers. e.g. 1.0 + 2.0j, 1.5 + 2.5j

* Most of the times you work wiht integer,boolean.

In [ ]:

arr = np.array(['datascience', 'machinelearning', 'dataengineering'])
arr
print(arr.dtype)

<U15

In [ ]:
arr = np.array([1, 2, 3, 4,5], dtype='S')

print(arr)
print(arr.dtype)
print(arr.size)

[b'1' b'2' b'3' b'4' b'5']
|S1
5

In [ ]:
arr = np.array([1, 2, 3, 4,5], dtype='i4')

print(arr)
print(arr.dtype)

[1 2 3 4 5]
int32
5

In [ ]:
arr = np.array(['a', '2', '3'], dtype='i')
arr
# error as we can not put character into integer

ValueError: ignored

In [ ]:
arr = np.array(['a', '2', '3'], dtype='U')
arr

array(['a', '2', '3'], dtype='<U1')

In [ ]:
arr[2]+3
# Error since we can do arithmetic operation on character

TypeError: ignored

In [ ]:
b = np.array([True,True,False])
print(b)
print(b.dtype)

[ True  True False]
bool

#### Let us say convert [1,0,3] numpy array ---> boolean
* astype

In [ ]:
arr = np.array([1, 0, 3])

newarr = arr.astype(bool)

print(newarr)
print(newarr.dtype)

[ True False  True]
bool

In [ ]:
arr = np.array([1.5, 0.6, 3.3])
print(arr)
print(arr.dtype)
print("******")
newarr = arr.astype(int)
print(newarr)
print(newarr.dtype)
print("******")
print(newarr.astype(float))

[1.5 0.6 3.3]
float64
******
[1 0 3]
int64
******
[1. 0. 3.]

### Numpy copy

In [ ]:
arr = np.array([1.5, 0.6, 3.3])
print(arr)
arr[0]=3.5
print(arr)
print("******")
arrref = arr
arr[0] = 4.5
print(arr)
print(arrref)

[1.5 0.6 3.3]
[3.5 0.6 3.3]
******
[4.5 0.6 3.3]
[4.5 0.6 3.3]

In [ ]:
arr = np.array([1.5, 0.6, 3.3])
print(arr)
arr[0]=3.5
print(arr)
print("******")
arrcopy = arr.copy()
arr[0] = 4.5
arrcopy[1]=15.5
print(arr)
print(arrcopy)

[1.5 0.6 3.3]
[3.5 0.6 3.3]
******
[4.5 0.6 3.3]
[ 3.5 15.5  3.3]

### Numpy functions
* randomint
* arrange
* concatenate
* split
* reshape

#### random

In [ ]:
import numpy as np
x1= np.random.randint(10,size= 5)
print(x1)
print(x1.shape)
print("************")
x2= np.random.randint(10,size = (2,2))
print("************")
print(x2)
print(x2.shape)
x3= np.random.randint(10,size = (2,3,4))
print(x3)
print(x3.shape)

[3 9 0 1 2]
(5,)
************
************
[[3 9]
 [1 6]]
(2, 2)
[[[8 1 1 4]
  [0 1 9 9]
  [1 7 8 3]]

 [[2 2 2 1]
  [9 4 0 7]
  [8 8 7 8]]]
(2, 3, 4)

#### arange

In [ ]:
a1  = np.arange(10)
print(a1)
print("*******")
a2  = np.arange(0,20,5)
print(a2)
print("*******")
a3  = np.arange(0,50,10)
print(a3)
print("*******")

[0 1 2 3 4 5 6 7 8 9]
*******
[ 0  5 10 15]
*******
[ 0 10 20 30 40]
*******

#### concatenate
* axis =0
* axis =1

In [ ]:
a1  = np.arange(10)
a2  = np.arange(0,20,5)

a3 = np.concatenate((a1,a2),axis =0)
print(a3)
print("********")

a1  = np.arange(0,20,5)
a2  = np.arange(20,40,5)
print(a1)
print(a2)
a3 = np.concatenate((a1,a2))
print(a3)

[ 0  1  2  3  4  5  6  7  8  9  0  5 10 15]
********
[ 0  5 10 15]
[20 25 30 35]
[ 0  5 10 15 20 25 30 35]

In [ ]:
a1  = np.array(np.arange(10),ndmin= 2)
a2  = np.array(np.arange(10),ndmin = 2)
print(a1)
print(a2)
print("****")
a3 = np.concatenate((a1,a2),axis =1)
print(a3)
print("*************************")

a1  = np.array(np.arange(0,20,5),ndmin =2)
a2  = np.array(np.arange(20,40,5),ndmin =2)
print(a1)
print(a2)
print("****")
a3 = np.concatenate((a1,a2))
print(a3)
print("*****")
a4 = np.concatenate((a1,a2),axis=1)
print(a4)

[[0 1 2 3 4 5 6 7 8 9]]
[[0 1 2 3 4 5 6 7 8 9]]
****
[[0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9]]
*************************
[[ 0  5 10 15]]
[[20 25 30 35]]
****
[[ 0  5 10 15]
 [20 25 30 35]]
*****
[[ 0  5 10 15 20 25 30 35]]

#### Split
?split
* axis=0, vsplit
* axis=1, hsplit

##### Split - 1 dimensional arrays

In [ ]:
a1  = np.array(np.arange(0,20,5),ndmin =1)
print(a1)

print(np.split(a1,2))
print('********')
a1  = np.array(np.arange(0,10),ndmin =1)
print(a1)
print(np.split(a1,2))

print(np.split(a1,5))

[ 0  5 10 15]
[array([0, 5]), array([10, 15])]
********
[0 1 2 3 4 5 6 7 8 9]
[array([0, 1, 2, 3, 4]), array([5, 6, 7, 8, 9])]
[array([0, 1]), array([2, 3]), array([4, 5]), array([6, 7]), array([8, 9])]

In [ ]:
a1  = np.array([[1,2],[3,4]],ndmin =2)
print(a1)

print(np.split(a1,2))
#print(np.vsplit(a1,2))

print('********')
print(np.split(a1,2,axis=1))
#print(np.hsplit(a1,2))

[[1 2]
 [3 4]]
[array([[1, 2]]), array([[3, 4]])]
[array([[1, 2]]), array([[3, 4]])]
********
[array([[1],
       [3]]), array([[2],
       [4]])]
[array([[1],
       [3]]), array([[2],
       [4]])]

##### Split - 2 dimensional arrays

In [ ]:
a1  = np.random.randint(20,size = (4,5))
print(a1)

print(np.split(a1,2))
#print(np.vsplit(a1,2))

print('********')
#print(np.split(a1,2,axis=1))
#print(np.hsplit(a1,2))

[[14  2 17  7 14]
 [19 18  0 12  1]
 [17 12 13 14 10]
 [10  3  4  2  8]]
[array([[14,  2, 17,  7, 14],
       [19, 18,  0, 12,  1]]), array([[17, 12, 13, 14, 10],
       [10,  3,  4,  2,  8]])]
********

In [ ]:
a1  = np.random.randint(20,size = (5,4))
print(a1)

#print(np.split(a1,2))
#print(np.vsplit(a1,2))

print('********')
print(np.split(a1,2,axis=1))
print(np.hsplit(a1,2))

[[ 5 15  2 17]
 [13  6 11  2]
 [ 1  5 12  2]
 [16 10  6 12]
 [13  3  3 18]]
********
[array([[ 5, 15],
       [13,  6],
       [ 1,  5],
       [16, 10],
       [13,  3]]), array([[ 2, 17],
       [11,  2],
       [12,  2],
       [ 6, 12],
       [ 3, 18]])]
[array([[ 5, 15],
       [13,  6],
       [ 1,  5],
       [16, 10],
       [13,  3]]), array([[ 2, 17],
       [11,  2],
       [12,  2],
       [ 6, 12],
       [ 3, 18]])]

#### Reshaping

In [ ]:
a1 = np.random.randint(20,size=10)
print(a1)
print("********")
print(a1.reshape(5,2))

print("********")
print(a1.reshape(2,5))

print("********")

[ 3 10  4 11 17  3  4  6 10  2]
********
[[ 3 10]
 [ 4 11]
 [17  3]
 [ 4  6]
 [10  2]]
********
[[ 3 10  4 11 17]
 [ 3  4  6 10  2]]
********

In [ ]:
a1 = np.random.randint(50,size=100)
print(a1)
print("********")
print(a1.reshape(10,10))

print("********")
print(a1.reshape(20,5))

print("********")

[10  0 16  7 13 25 35 29  0 34 45 28  8 38 47  1 16 28  5 37 26 35  7 11
 40 43 41  2 18 14  2  4 25 24 10  0 43 16 28 48 44 41  8  8 12  0 28 32
  4 14 44 20  9 39 30 23 30  9 39  1  2 26  5 23 15 41 49 44 42 35 37 25
 10 45 27 41 29 13 37 12 24 34 42 44 23 17  3 41 20 22  9 24 43 33  0  1
  7 11 21 33]
********
[[10  0 16  7 13 25 35 29  0 34]
 [45 28  8 38 47  1 16 28  5 37]
 [26 35  7 11 40 43 41  2 18 14]
 [ 2  4 25 24 10  0 43 16 28 48]
 [44 41  8  8 12  0 28 32  4 14]
 [44 20  9 39 30 23 30  9 39  1]
 [ 2 26  5 23 15 41 49 44 42 35]
 [37 25 10 45 27 41 29 13 37 12]
 [24 34 42 44 23 17  3 41 20 22]
 [ 9 24 43 33  0  1  7 11 21 33]]
********
[[10  0 16  7 13]
 [25 35 29  0 34]
 [45 28  8 38 47]
 [ 1 16 28  5 37]
 [26 35  7 11 40]
 [43 41  2 18 14]
 [ 2  4 25 24 10]
 [ 0 43 16 28 48]
 [44 41  8  8 12]
 [ 0 28 32  4 14]
 [44 20  9 39 30]
 [23 30  9 39  1]
 [ 2 26  5 23 15]
 [41 49 44 42 35]
 [37 25 10 45 27]
 [41 29 13 37 12]
 [24 34 42 44 23]
 [17  3 41 20 22]
 [ 9 24 43 33  0]
 [ 1  7 11 21 33]]
********

#### Stacking

In [ ]:
a1 = np.random.randint(20,size=(5,4))
a2 = np.random.randint(50,size=(5,4))
print(a1)
print(a2)
print("********")
print(np.vstack([a1,a2]))

[[11 19 18  6]
 [10 12  2 14]
 [ 3  8 10  5]
 [13 11  3 19]
 [ 0  3 19 14]]
[[42 18 41 48]
 [41  7 27 27]
 [ 8 20  7 12]
 [27  0 14  7]
 [11 19 40 33]]
********
[[11 19 18  6]
 [10 12  2 14]
 [ 3  8 10  5]
 [13 11  3 19]
 [ 0  3 19 14]
 [42 18 41 48]
 [41  7 27 27]
 [ 8 20  7 12]
 [27  0 14  7]
 [11 19 40 33]]

In [ ]:
a1 = np.random.randint(20,size=(5,4))
a2 = np.random.randint(50,size=(5,2))
print(a1)
print(a2)
print("********")
print(np.hstack([a1,a2]))

[[ 0  5  3 12]
 [ 4 12 17  2]
 [19 10  0 10]
 [ 1  4  1 14]
 [18  0 18 19]]
[[ 5 15]
 [48 37]
 [29 49]
 [25 44]
 [21 46]]
********
[[ 0  5  3 12  5 15]
 [ 4 12 17  2 48 37]
 [19 10  0 10 29 49]
 [ 1  4  1 14 25 44]
 [18  0 18 19 21 46]]

In [ ]:
L1=[10,15,20,25]
print(L1)
type(L1)

[10, 15, 20, 25]

list

In [ ]:
import numpy as np
a1 = np.array([1,2,3,4,5])
print(a1)
print(a1.dtype)

[1 2 3 4 5]
int64

In [ ]:
a2 = np.array([1, 2, 3.3])
print(a2)
print(a2.dtype)

[1.  2.  3.3]
float64

In [ ]:
a3 = np.array(['a','b','cat'])
print(a3)
print(a3.dtype)

['a' 'b' 'cat']
<U3

In [ ]:
print(a1)
print(a1[0])
print(a1[1])
print(a1[0:3])
print(a1[1:4])

[1 2 3 4 5]
1
2
[1 2 3]
[2 3 4]

In [ ]:
print(a1.shape)
print(a1.ndim)

(5,)
1

In [ ]:
### 2D

In [ ]:
b= np.array([[1,2,3],[10,20,30]])
print(b)

[[ 1  2  3]
 [10 20 30]]

In [ ]:
print(b.shape)
print(b.ndim)
print(b.dtype)

(2, 3)
2
int64

In [ ]:
# access the values from array
print(b[0])
print(b[1])

[1 2 3]
[10 20 30]

In [ ]:
b= np.array([[1,2,3],[10,20,30],[100,200,300]])
print(b)
print("************")
print(b[0:2, : ])
print("************")
print(b[ : , 0:2 ])
print("************")
print(b[0:2 , 0:2 ])

[[  1   2   3]
 [ 10  20  30]
 [100 200 300]]
************
[[ 1  2  3]
 [10 20 30]]
************
[[  1   2]
 [ 10  20]
 [100 200]]
************
[[ 1  2]
 [10 20]]

In [ ]:
b2 = np.array([[1,2,3],[4,5,51.5],[6,8,50.5]])
print(b2)
# print 1st row, 2nd col
print(b2[0,1])
# print 2nd and 3rd row
print(b2[1: , :])
# print 3rd col only
print(b2[: ,2])
# print 2row,3rd col
print(b2[1,2])
# print 3rd row
print(b[2,:])

[[ 1.   2.   3. ]
 [ 4.   5.  51.5]
 [ 6.   8.  50.5]]
2.0
[[ 4.   5.  51.5]
 [ 6.   8.  50.5]]
[ 3.  51.5 50.5]
51.5
[100 200 300]

In [ ]:
b3 = np.array([True,False,True,False])
print(b3)
print(b3.dtype)

[ True False  True False]
bool

In [ ]:
print(b3.astype('int'))

[1 0 1 0]

In [ ]:
b4 = np.array([10,20,30,0])
print(b4.dtype)
print(b4.astype('bool'))

int64
[ True  True  True False]

In [ ]:
np.array([1,2,3],[1,2])

TypeError: ignored

In [ ]:
a1 = np.array([1,2,3])
a2 = np.array([2,3,4])
print(a1+a2)
print(a1-a2)
print(a1*a2)

[3 5 7]
[-1 -1 -1]
[ 2  6 12]

In [ ]:
a1 = np.array([[1,2,3],[3,4,5]])
a2 = np.array([[2,3,4],[4,5,6]])
print(a1)
print(a2)
print("*******")
print(a1+a2)
print("*******")
print(a1-a2)
print("*******")
print(a1*a2)

[[1 2 3]
 [3 4 5]]
[[2 3 4]
 [4 5 6]]
*******
[[ 3  5  7]
 [ 7  9 11]]
*******
[[-1 -1 -1]
 [-1 -1 -1]]
*******
[[ 2  6 12]
 [12 20 30]]

In [ ]:
print(np.multiply(a1,a2))
print(np.dot(a1,np.transpose(a2)))

[[ 2  6 12]
 [12 20 30]]
[[20 32]
 [38 62]]

In [ ]:
# generate random integers --- with size
a1 = np.random.randint(20,size=10)
a1

array([11, 12, 17,  3,  0,  9,  5,  8, 14, 19])

In [ ]:
a2 = np.random.randint(50,size=20)
a2

array([40, 13, 27, 33, 25, 47,  3, 10, 21, 43, 49, 30,  6, 23,  0, 47, 33,
       14, 17,  8])

In [ ]:
np.array(a1,ndmin=2)

array([[16,  5,  5, 11,  6,  0, 19,  0, 12, 17]])

In [ ]:
a3 = np.random.randint(20,size=(2,3))
print(a3)
#?np.random.randint

[[ 9 13  5]
 [18  0  0]]

In [ ]:
a4 = np.random.randint(20,size=(2,3))
print(a4)

[[19  3 18]
 [10  0 11]]

In [ ]:
print(a1)
print(a2)
print("**************")
print(np.concatenate([a1,a2]))

[11 12 17  3  0  9  5  8 14 19]
[40 13 27 33 25 47  3 10 21 43 49 30  6 23  0 47 33 14 17  8]
**************
[11 12 17  3  0  9  5  8 14 19 40 13 27 33 25 47  3 10 21 43 49 30  6 23
  0 47 33 14 17  8]

In [ ]:
print(a3)
print(a4)
print("*********")
print(np.concatenate([a3,a4]))

[[ 9 13  5]
 [18  0  0]]
[[19  3 18]
 [10  0 11]]
*********
[[ 9 13  5]
 [18  0  0]
 [19  3 18]
 [10  0 11]]

In [ ]:
print(a3)
print(a4)
print("*********")
print(np.concatenate([a3,a4],axis=1))

[[ 9 13  5]
 [18  0  0]]
[[19  3 18]
 [10  0 11]]
*********
[[ 9 13  5 19  3 18]
 [18  0  0 10  0 11]]

In [ ]:
a5 = np.random.randint(50,size=(2,3))
a6 = np.random.randint(50,size=(3,2))
print(a5)
print(a6)

[[ 0 29 38]
 [16 42 18]]
[[27 12]
 [ 6 37]
 [39 38]]

In [ ]:
print("*********")
print(np.concatenate([a5,a6],axis=1))

In [ ]:
a7 = np.arange(0,40,5)
print(a7)

[ 0  5 10 15 20 25 30 35]

In [ ]:
a8 = np.arange(40,80,5)
print(a8)

[40 45 50 55 60 65 70 75]

In [ ]:
print(np.stack([a7,a8]))

[[ 0  5 10 15 20 25 30 35]
 [40 45 50 55 60 65 70 75]]

In [ ]:
np.concatenate([a7,a8],axis=0)

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75])

In [ ]:
a9 = np.arange(0,100,10)
print(a9)

[ 0 10 20 30 40 50 60 70 80 90]

In [ ]:
np.reshape(a9,(2,5))

array([[ 0, 10, 20, 30, 40],
       [50, 60, 70, 80, 90]])

In [ ]:
np.reshape(a9,(5,2))

array([[ 0, 10],
       [20, 30],
       [40, 50],
       [60, 70],
       [80, 90]])

In [ ]:
np.reshape(a9,(1,10))

array([[ 0, 10, 20, 30, 40, 50, 60, 70, 80, 90]])

In [ ]:
np.reshape(a9,(10,1))

array([[ 0],
       [10],
       [20],
       [30],
       [40],
       [50],
       [60],
       [70],
       [80],
       [90]])

# Data Indexing and Selection

We'll start with the simple case of the one-dimensional ``Series`` object, and then move on to the more complicated two-dimesnional ``DataFrame`` object.

## Dictionary

In [ ]:
Student = { 'sid':[1,2,3,4,5], 'marks':[20,21,22,23,24]}
Student

print(Student.keys())

print(Student['sid'])
print(Student['marks'])

print(Student['sid'][0:3])
print(Student['marks'][0:3])

dict_keys(['sid', 'marks'])
[1, 2, 3, 4, 5]
[20, 21, 22, 23, 24]
[1, 2, 3]
[20, 21, 22]

## Create a Dataframe from dictionary

In [ ]:
import pandas as pd
student_df = pd.DataFrame(Student)
student_df

   sid  marks
0    1     20
1    2     21
2    3     22
3    4     23
4    5     24

##Series

### create a Series

Like a dictionary, the ``Series`` object provides a mapping from a collection of keys to a collection of values:

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data
print(data)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [ ]:
#data.items
print(list(data.items()))

[('1', 20), ('2', 21), ('3', 22), ('4', 23), ('5', 24)]

``Series`` objects can even be modified with a dictionary-like syntax.
Just as you can extend a dictionary by assigning to a new key, you can extend a ``Series`` by assigning to a new index value:

### Access Series

A ``Series`` builds on this dictionary-like interface and provides array-style item selection via the same basic mechanisms as NumPy arrays  that is, *slices*, *masking*, and *fancy indexing*.
Examples of these are as follows:

In [ ]:
# slicing by explicit index
data['a':'c']

Series([], dtype: float64)

In [ ]:
# slicing by implicit integer index
data[0:2]

1    20.0
2    21.0
dtype: float64

###

In [ ]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

## Create a DataFrame from Series

Recall that a ``DataFrame`` acts in many ways like a two-dimensional or structured array, and in other ways like a dictionary of ``Series`` structures sharing the same index.
These analogies can be helpful to keep in mind as we explore data selection within this structure.

### DataFrame as a dictionary

The first analogy we will consider is the ``DataFrame`` as a dictionary of related ``Series`` objects.
Let's return to our example of areas and populations of states:

In [ ]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

The individual ``Series`` that make up the columns of the ``DataFrame`` can be accessed via dictionary-style indexing of the column name:

In [ ]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

Equivalently, we can use attribute-style access with column names that are strings:

In [ ]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [ ]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

### DataFrame as two-dimensional array

As mentioned previously, we can also view the ``DataFrame`` as an enhanced two-dimensional array.
We can examine the raw underlying data array using the ``values`` attribute:

In [ ]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

With this picture in mind, many familiar array-like observations can be done on the ``DataFrame`` itself.
For example, we can transpose the full ``DataFrame`` to swap rows and columns:

In [ ]:
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

When it comes to indexing of ``DataFrame`` objects, however, it is clear that the dictionary-style indexing of columns precludes our ability to simply treat it as a NumPy array.
In particular, passing a ``single`` index to an array accesses a row:

In [ ]:
data.values[1]

array([6.95662000e+05, 2.64481930e+07, 3.80187404e+01])

and passing a single "index" to a ``DataFrame`` accesses a column:

### Indexing: accessing rows and columns
* column: using column name

In [ ]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [ ]:
data[['area']]

              area
California  423967
Texas       695662
New York    141297
Florida     170312
Illinois    149995

Thus for array-style indexing, we need another convention.
Pandasuses the ``loc``, ``iloc``indexers 
* Using the ``iloc`` indexer, we can index the underlying array as if it is a simple NumPy array (using the implicit Python-style index), but the ``DataFrame`` index and column labels are maintained in the result:

In [ ]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

* Similarly, using the ``loc`` indexer we can index the underlying data in an array-like style but using the explicit index and column names:

In [ ]:
data.loc[:'Illinois', :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135


For example, in the ``loc`` indexer we can combine masking and fancy indexing as in the following:

In [ ]:
data.density > 100

In [ ]:
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

Any of these indexing conventions may also be used to set or modify values; this is done in the standard way that you might be accustomed to from working with NumPy:

In [ ]:
data.iloc[0, 2] = 90
data

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

To build up your fluency in Pandas data manipulation, I suggest spending some time with a simple ``DataFrame`` and exploring the types of indexing, slicing, masking, and fancy indexing that are allowed by these various indexing approaches.

### Additional indexing conventions

In [ ]:
data['Florida':'Illinois']

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

Such slices can also refer to rows by number rather than by index:

In [ ]:
data[1:3]

            area       pop     density
Texas     695662  26448193   38.018740
New York  141297  19651127  139.076746

Similarly, direct masking operations are also interpreted row-wise rather than column-wise:

In [ ]:
data[data.density > 100]

            area       pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121

These two conventions are syntactically similar to those on a NumPy array, and while these may not precisely fit the mold of the Pandas conventions, they are nevertheless quite useful in practice.

# Create a Dataframe with the following data
* Location,smoking_yes_cancer_yes,smoking_yes_cancer_no,smoking_no_cancer_yes,smoking_no_cancer_no
* Beijing,126,100,35,61
* Shanghai,908,688,497,807
* Shenyang,913,747,336,598
* Nanjng,235,172,58,121
* Harbin,402,308,121,215
* Zhengzhou,182,156,72,98
* Taiyuan,60,99,11,43
* Nanchang,104,89,21,36

In [ ]:
import pandas as pd
d1 = { 'Location':['Beijing','Shanghai'],
        'smoking_yes_cancer_yes' :[126,908],
           'smoking_yes_cancer_no' :[126,908],
        'smoking_yes_cancer_yes' :[126,908]
      }
pd.DataFrame(d1)

   Location  smoking_yes_cancer_yes
0   Beijing                     126
1  Shanghai                     908

# Create a Dataframe with the following data with first line as column names - pd.Series
#* Year as index
* "YEAR","WORLDCONSUMPTION","COPPERPRICE","INCOMEINDEX","ALUMPRICE","INVENTORYINDEX","TIME"
* 1951,3173,26.56,0.7,19.76,0.98,1
* 1952,3281.1,27.31,0.71,20.78,1.04,2
* 1953,3135.7,32.95,0.72,22.55,1.05,3
* 1954,3359.1,33.9,0.7,23.06,0.97,4
* 1955,3755.1,42.7,0.74,24.93,1.02,5
* 1956,3875.9,46.11,0.74,26.5,1.04,6
* 1957,3905.7,31.7,0.74,27.24,0.98,7
* 1958,3957.6,27.23,0.72,26.21,0.98,8
* 1959,4279.1,32.89,0.75,26.09,1.03,9
* 1960,4627.9,33.78,0.77,27.4,1.03,10
* 1961,4910.2,31.66,0.76,26.94,0.98,11
* 1962,4908.4,32.28,0.79,25.18,1,12
* 1963,5327.9,32.38,0.83,23.94,0.97,13
* 1964,5878.4,33.75,0.85,25.07,1.03,14
* 1965,6075.2,36.25,0.89,25.37,1.08,15
* 1966,6312.7,36.24,0.93,24.55,1.05,16
* 1967,6056.8,38.23,0.95,24.98,1.03,17
* 1968,6375.9,40.83,0.99,24.96,1.03,18
* 1969,6974.3,44.62,1,25.52,0.99,19
* 1970,7101.6,52.27,1,26.01,1,20
* 1971,7071.7,45.16,1.02,25.46,0.96,21
* 1972,7754.8,42.5,1.07,22.17,0.97,22
* 1973,8480.3,43.7,1.12,18.56,0.98,23
* 1974,8105.2,47.88,1.1,21.32,1.01,24
* 1975,7157.2,36.33,1.07,22.75,0.94,25

# Combining Datasets: Concat and Append

In [ ]:
import pandas as pd
import numpy as np

## Simple Concatenation with ``pd.concat``

Pandas has a function, ``pd.concat()``, which has a similar syntax to ``np.concatenate`` but contains a number of options that we'll discuss momentarily:

```python
# Signature in Pandas v0.18
pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
          keys=None, levels=None, names=None, verify_integrity=False,
          copy=True)
```

``pd.concat()`` can be used for a simple concatenation of ``Series`` or ``DataFrame`` objects, just as ``np.concatenate()`` can be used for simple concatenations of arrays:

In [ ]:
import pandas as pd
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
pd.concat([ser1, ser2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

It also works to concatenate higher-dimensional objects, such as ``DataFrame``s:

In [ ]:
df1 = pd.DataFrame({"A":["A1","A2"],"B":["B1","B2"]})
print(df1)
df2 = pd.DataFrame({"A":["A3","A4"],"B":["B3","B4"]})
print(df2)

    A   B
0  A1  B1
1  A2  B2
    A   B
0  A3  B3
1  A4  B4

By default, the concatenation takes place row-wise within the ``DataFrame`` (i.e., ``axis=0``).
Like ``np.concatenate``, ``pd.concat`` allows specification of an axis along which concatenation will take place.
Consider the following example:

### Concatenate

In [ ]:
pd.concat([df1,df2])

    A   B
0  A1  B1
1  A2  B2
0  A3  B3
1  A4  B4

In [ ]:
pd.concat([df1,df2],axis=1)

    A   B   A   B
0  A1  B1  A3  B3
1  A2  B2  A4  B4

### Duplicate indices
* Note that you are getting duplicate indicies
* Try following code to remove indicies

#### Ignoring the index

Sometimes the index itself does not matter, and you would prefer it to simply be ignored.
This option can be specified using the ``ignore_index`` flag.
With this set to true, the concatenation will create a new integer index for the resulting ``Series``:

In [ ]:
pd.concat([df1, df2], ignore_index=True)

    A   B
0  A1  B1
1  A2  B2
2  A3  B3
3  A4  B4

### The ``append()`` method

Because direct array concatenation is so common, ``Series`` and ``DataFrame`` objects have an ``append`` method that can accomplish the same thing in fewer keystrokes.
For example, rather than calling ``pd.concat([df1, df2])``, you can simply call ``df1.append(df2)``:

In [ ]:
 df1.append(df2)

    A   B
0  A1  B1
1  A2  B2
0  A3  B3
1  A4  B4

Note that the ``append()`` method in Pandas does not modify the original objectinstead it creates a new object with the combined data.
It also is not a very efficient method, because it involves creation of a new index *and* data buffer.
Thus, if you plan to do multiple ``append`` operations, it is generally better to build a list of ``DataFrame``s and pass them all at once to the ``concat()`` function.

In [ ]:
7

7

In [ ]:
'string' # this object from class 'str'

In [ ]:
S.upper()

'INSOFE'

class list

In [ ]:
L1 = [1,2,3,4] # creating an instance of class list as a result 
            # I got object [1,2,3] assigned to variable L

In [ ]:
C = 2

In [ ]:
print(type(C))

<class 'int'>

In [ ]:
S = 'INSOFE'

In [ ]:
S.replace('E','A') # string methods

'INSOFA'

In [ ]:
titanic.wiki_name()

'Titanic (1997)'

In [ ]:
print(type(S))

<class 'str'>

In [ ]:
print(L)

[1, 2, 3]

In [ ]:
print(type(L))

<class 'list'>

str,int,list are builtin objects

custom object - plot that you make in matplotlib

custom objects can be created by defining a class

classes are the basis of OOPs

## Object Oriented Programming


Python is a multi-paradigm programming language. It supports different programming approaches.

One of the popular approaches to solve a programming problem is by creating objects. This is known as Object-Oriented Programming (OOP).

### Classes

* __Classes__ provide a means of bundling __data__ and __functionality__ together. 
* Each class instance can have __attributes__ attached to it for _maintaining_ its __state__. 
* Class instances can also have __methods__ (defined by its class) for _modifying_ its __state__.
* Creating a new class _creates_ a __new type__ of object, allowing new instances of that type to be made. 

Class is a blueprint or template for creating an object. No storage is assigned when we define a class.

### Create an empty MovieBase class

* Define a class by use the `class` keyword followed by the `<<class name>>` that you want to give to the class, and then a colon symbol `:`. 

* The class definition starts from the next line and it should be indented.

### Object

An object (instance) is an instantiation of a class. When class is defined, only the description for the object is defined. Therefore, no memory or storage is allocated.

class <classname>:
    statements

In [ ]:
class MovieBase: # header
    pass # body

def myfun:
    pass

myfun()

In [ ]:
mv = MovieBase() # Test this after deleting the pass statement; A class cannot be empty

__Object Name Naming Convention__: Object names should be lowercase, with words separated by underscores as necessary to improve readability.

### `self` 
 
Class methods must have an extra first parameter `self` in the method definition. We do not give a value for this parameter when we call the method, Python provides it.

For e.g. 

```python 
class MyClass:
    
    def method(self, parm1, parm2):
        pass

my_obj = MyClass()
my_obj.method(arg1, arg2)
```

When the method of the `my_obj` object is called i.e. `my_obj.method(arg1, arg2)`, it is automatically converted by Python into `MyClass.method(my_obj, arg1, arg2)`

In [ ]:
movie_1 = MovieBase() # This is an instance of a class; An object is created
movie_2 = MovieBase()

print(movie_1)
print(movie_2)

# MovieBase is a class movie_1 and 2 are instances of the class

# name, year and genre are attributes; movie_1.name is an instance of that attribute which is related to movie_1;

<__main__.MovieBase object at 0x7fafb7b9dc70>
<__main__.MovieBase object at 0x7fafb7b9dbe0>

In [ ]:
class MovieBase:
    
    """
    A class to represent the movies that I have seen/heard of.
    ...

    Attributes
    ----------
    name : str
        Name of the movie
    year : str 
        year in whcih the movie was released
    
    genre : str
        movie genre
        
    counrty:str
        The country in which it was originaly produced
 

    Methods
    -------
    Wiki_name()
        Returns the name of the movie with year of release in brackets as in Wikipedia
    """
    
    def __init__ (self, name, year, genre): # __init__ method is within the class MovieBase
                                                #initialize - self is the instance convention more than anything
            
        """
        Initialises movie attributes.

        Parameters
        ----------
            name : str
                Name of the movie
            year : int
                Year of release
            genre : int
                Major genre
        """
        self.name = name # creating instance variables - attributes
        self.year = year
        self.genre = genre
        self.concise = name+'; '+str(year)+'; '+genre

### method is a function present inside a class; __init__ is a method - the init method

In [ ]:
class Newspaper:
    
    def __init__ (self, name, language, city): 
            
        self.name = name # creating instance variables - attributes
        self.language = language
        self.city = city

In [ ]:
Times = Newspaper('The Times Of India','English','Many')

In [ ]:
Times.name

'The Times Of India'

In [ ]:
Titanic = MovieBase('Titanic',1997,'Disaster-Romance')

MovieBase(Titanic,'Titanic',1997,'Disaster-Romance')

In [ ]:
print(Titanic.genre)

Disaster-Romance

In [ ]:
print(type(Titanic))

<class '__main__.MovieBase'>

In [ ]:
EngVing = MovieBase('Engish Vinglish',2012,'Comedy-Drama')

In [ ]:
print(EngVing.concise)

Engish Vinglish; 2012; Comedy-Drama

In [ ]:
RRR = MovieBase('RRR',2022,'Historical Action Drama')

In [ ]:
RRR.concise

'RRR; 2022; Historical Action Drama'

In [ ]:
def twonums(num1,num2):
    return num1*num2

In [ ]:
twonums(23,4)

92

__Method Names and Instance Vaiables Naming Convention__:

* Lowercase with words separated by underscores as necessary to improve readability.

__Function and Method Arguments Nameing Convention__:
* Always use `self` for the first argument to `instance methods`.
* Always use `cls` for the first argument to `class methods`.
* If a function argument's name clashes with a reserved keyword, it is generally better to append a __single trailing underscore__ rather than use an abbreviation or spelling corruption. Thus class_ is better than clss. (Perhaps better is to avoid such clashes by using a synonym.)

In [ ]:
print(movie_1.__doc__)

    A class to represent the movies that I have seen/heard of.
    ...

    Attributes
    ----------
    name : str
        Name of the movie
    year : str
        year in whcih the movie was released

    genre : str
        movie genre

    counrty:str
        The country in which it was originaly produced


    Methods
    -------
    Wiki_name()
        Returns the name of the movie with year of release in brackets as in Wikipedia

Class vs Instance:
    

* Instance variables will have data which is specific to each instance. 
    * __Instance variables__ value is assigned inside a __constructor__ or __method__ with `self`. 
* __Class variables__ are variables whose value is assigned in __class__.

In [ ]:
class MovieBase:
    
    def __init__ (self, name, year, genre): 
            
        self.name = name # creating instance variables - attributes
        self.year = year
        self.genre = genre
        self.concise = name+'; '+str(year)+'; '+genre
        
    def wiki_name(self):
        return '{} ({})'.format(self.name, self.year)

In [ ]:
titanic = MovieBase('Titanic', 1997, 'Disaster-Romance')
engving = MovieBase('English Vinglish', 2012, 'Comedy-Drama')

In [ ]:
print(titanic.concise) # here we are calling an attribute of an instance

Titanic; 1997; Disaster-Romance

In [ ]:
print(titanic.wiki_name())

Titanic (1997)

In [ ]:
print(movie_2.wiki_name()) # Use of paranthesis shows that this is a 'method'

English Vinglish(2012)

In [ ]:
print(MovieBase.wiki_name(movie_2))

English Vinglish(2012)

In [ ]:
print(MovieBase.wiki_name(movie_1))

Titanic(1997)

In [ ]:
# Class variables shared among all instances. ex - rating_correction

class MovieBase:
    
    rating_correction = 0.3
    
    def __init__ (self, name, year, genre, rating): 
            
        self.name = name # creating instance variables - attributes
        self.year = year
        self.genre = genre
        self.concise = name+'; '+str(year)+'; '+genre
        self.rating = rating
        
    def wiki_name(self):
        return '{}({})'.format(self.name, self.year)
    
    def movie_score(self):
        self.rating = self.rating + MovieBase.rating_correction

In [ ]:
        
        
titanic = MovieBase('Titanic', 1997, 'Disaster-Romance', 2.5)
engving = MovieBase('English Vinglish', 2012, 'Comedy-Drama',3.5)

In [ ]:
print(movie_1.rating)
movie_1.movie_score()
print(movie_1.rating)

In [ ]:
print(MovieBase.rating_correction)

0.3

In [ ]:
print(titanic.rating_correction)

0.3

In [ ]:
print(engving.rating_correction)

0.3

In [ ]:
print(titanic.name)

Titanic

In [ ]:
print(engving.name)

English Vinglish

In [ ]:
MovieBase.rating_correction = 0.4

print(MovieBase.rating_correction)
print(movie_1.rating_correction)
print(movie_2.rating_correction)

0.4
0.4
0.4

In [ ]:
class MovieBase:
    
    rating_correction = 0.3
    
    def __init__ (self, name, year, genre, rating): 
            
        self.name = name # creating instance variables - attributes
        self.year = year
        self.genre = genre
        self.concise = name+'; '+str(year)+'; '+genre
        self.rating = rating
        
    def wiki_name(self):
        return '{}({})'.format(self.name, self.year)
    
    def movie_score(self):
        self.rating = self.rating + MovieBase.rating_correction
        
    @classmethod
    def adjust_score(cls, correction):
        cls.rating_correction = correction

In [ ]:
        
        
movie_1 = MovieBase('Titanic', 1997, 'Disaster-Romance', 2.5)
movie_2 = MovieBase('English Vinglish', 2012, 'Comedy-Drama',3.5)

In [ ]:
MovieBase.adjust_score(0.5)

In [ ]:
print(MovieBase.rating_correction)
print(movie_1.rating_correction)
print(movie_2.rating_correction)

0.5
0.5
0.5

#### Class Inheritance

The class which inherits the properties of other is known as subclass (derived class, child class) and the class whose properties are inherited is known as superclass (base class, parent class).

In [ ]:
# class WatchedMovie:
#     def __init__(self,name,year, genre)

class MovieBase:
    pass

In [ ]:
class WatchedMovie(MovieBase):
    pass

In [ ]:
Hobbit1 = WatchedMovie("Hobbit:FiveArmies","HighFantasy", 2014, 4.5, 300, 965)
Hobbit2 = WatchedMovie("Hobbit:Desolation of Smaug","High Fantasy", 2013, 4.5, 250, 959)

In [ ]:
Hobbit1.name

'Hobbit:FiveArmies'

In [ ]:
print(WatchedMovie_2.reception)
WatchedMovie.wiki_name(WatchedMovie_2)
WatchedMovie_2.rating

Hit

4.5

In [ ]:
# If we want to add another attribute to this

class WatchedMovie(MovieBase):
    def __init__ (self, name, genre, year, rating, budget, boxoffice, comment):
        
        super().__init__(name, genre, year, rating, budget, boxoffice)
        self.comment = comment
        #MovieBase.__init__(name,genre,year,rating,budget,boxoffice)

In [ ]:
WatchedMovie_1 = WatchedMovie('Sivaji:The Boss','Action', 2007, 4.5, 60, 120, "Perfect")

In [ ]:
WatchedMovie_1.comment

'Perfect'

#### Types of Inheritance

In Python, there are two types of Inheritance:

1. Multiple Inheritance
2. Multilevel Inheritance

In [ ]:
class A:
    pass
    # variable of class A
    # methods of class A

class B:
    pass
    # variable of class B
    # methods of class B

class C(A, B):
    pass
    # class C inheriting property of both class A and B
    # add more properties to class C

#### Multilevel Inheritance

In multilevel inheritance, we inherit the classes at multiple separate levels.

In [ ]:
class A:
    pass
    # properties of class A

class B(A):
    pass
    # class B inheriting property of class A
    # more properties of class B

class C(B):
    pass
    # class C inheriting property of class B
    # thus, class C also inherits properties of class A
    # more properties of class C

In [ ]:
class MovieBase:
    
    def __init__ (self, name, genre, year): 
            
        self.name = name 
        self.year = year
        self.genre = genre
        self.concise = name+'; '+str(year)+'; '+genre

        
titanic = MovieBase('Titanic','Disaster-Romance', 1997)
EngVing = MovieBase('English Vinglish','Comedy-Drama', 2012)

In [ ]:
 class MovieBase:
    
    def __init__ (self, name, genre, year, country): 
            
        self.name = name 
        self.year = year
        self.genre = genre
        self.country = country
        self.concise = name+'; '+str(year)+'; '+genre
        
    def __repr__(self):
        return "Movie('{}', '{}', {})".format(self.name, self.year, self.genre)
    
    def __str__(self):
        return "{} is a/an {} {} film released in {}.". format(self.name, self.country, self.genre, self.year)
    
    def wiki_name(self):
        pass
    def hit_flop(self,budget,boxoffice):
        pass
    
    @classmethod
    def from_strs(cls):
        pass
    
    @staticmethod
    def weedkay(day):
        pass
            
titanic = MovieBase('Titanic','Disaster-Romance', 1997, "American")
engving = MovieBase('English Vinglish','Comedy-Drama', 2012, "Indian")

In [ ]:
print(titanic)
print(engving)

<__main__.MovieBase object at 0x7fafb7bb5640>
<__main__.MovieBase object at 0x7fafb7bb5e20>

### Method Overriding in Python

Method overriding is a concept of object oriented programming that allows us to change the implementation of a function in the child class that is defined in the parent class. It is the ability of a child class to change the implementation of any method which is already provided by one of its parent class(ancestors).

Following conditions must be met for overriding a function:
* Inheritance should be there. Function overriding cannot be done within a class. We need to derive a child class from a parent class.
* The function that is redefined in the child class should have the same signature as in the parent class i.e. same number of parameters.

In [ ]:
# parent class

class Animal:
    
    # function breath
    def breathe(self):
        print("I breathe oxygen.")
    
    # function feed
    def feed(self):
        print("I eat food.")

# child class

class Herbivorous(Animal):
    
    # function feed
    def feed(self):
        print("I eat only plants. I am vegetarian.")
    
        
herbi = Herbivorous()

herbi.feed()

herbi.breathe()

I eat only plants. I am vegetarian.
I breathe oxygen.

In [ ]:
if something:

#### Syntax Error

### Python assert Keyword

* The `assert` keyword is used when debugging code.
* The `assert` keyword lets you test if a condition in your code returns True, if not, the program will raise an AssertionError.

In [ ]:
x = "INSOFE"

assert x == "InSOFE"

AssertionError:

### Indexerror

In [ ]:
L = [1,2,3]
L[4]

IndexError: list index out of range

### Keyerror

In [ ]:
D = {1:3, 2:5}
D[3]

KeyError: 3

### Zero division error

In [ ]:
2/0

ZeroDivisionError: division by zero

In [ ]:
4 * 3

12

In [ ]:
'spam ' * 3

'spam spam spam '

### TypeError

In [ ]:
4+'spam'*3

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### ValueError

In [ ]:
int('g')

ValueError: invalid literal for int() with base 10: 'g'

### NameError

In [ ]:
print(f)

NameError: name 'f' is not defined

### ModuleError

In [ ]:
import randomModuleThatIsNotPresent

ModuleNotFoundError: No module named 'randomModuleThatisnotpresent'

In [ ]:
with open('NoSuchFile.txt', 'r') as f1:
    pass

FileNotFoundError: [Errno 2] No such file or directory: 'NoSuchFile.txt'

#### Exception Handling

try:
    statements # runs the statements
except:
    statements # if error
else:
    statements # no error
finally:
    statements # executes anyway

In [ ]:
def int_input(prompt='Please enter a number'):
    while True:
        try:
            age = int(input(prompt))
            return age
        except:
            print("Not a proper integer! Try it again")

In [ ]:
int_input()

Please enter a numberj
Not a proper integer! Try it again
Please enter a numberk
Not a proper integer! Try it again
Please enter a numberg
Not a proper integer! Try it again
Please enter a number
Not a proper integer! Try it again
Please enter a numbery
Not a proper integer! Try it again
Please enter a number4

4

In [ ]:
#### I can have many except

In [ ]:
try:
    f = open('integers.txt')
    s = f.readline()
    i = int(s.strip())
    print(i)
except (IOError):
    print('This file does not exist')
except (ValueError):
    print("The read line was not an integer")
except:
    print("An unexpected error occurred")
    raise # raise will raise en error at the location
finally:
    f.close()

1234

1234